bpm/BpmTUPA/SOA/WSDLs/DocumentosPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="Documentos"
     targetNamespace="http://documentos.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://documentos.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://documentos.ws.senasa.gob.pe" schemaLocation="../Schemas/DocumentosPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="eliminarNumeroDocumento">
        <part name="parameters" element="tns:eliminarNumeroDocumento"/>
    </message>
    <message name="eliminarNumeroDocumentoResponse">
        <part name="parameters" element="tns:eliminarNumeroDocumentoResponse"/>
    </message>
    <message name="previsualizarIngreso">
        <part name="parameters" element="tns:previsualizarIngreso"/>
    </message>
    <message name="previsualizarIngresoResponse">
        <part name="parameters" element="tns:previsualizarIngresoResponse"/>
    </message>
    <message name="ObtenerCodDocumentoStdPadre">
        <part name="parameters" element="tns:ObtenerCodDocumentoStdPadre"/>
    </message>
    <message name="ObtenerCodDocumentoStdPadreResponse">
        <part name="parameters" element="tns:ObtenerCodDocumentoStdPadreResponse"/>
    </message>
    <message name="crearDocumento">
        <part name="parameters" element="tns:crearDocumento"/>
    </message>
    <message name="crearDocumentoResponse">
        <part name="parameters" element="tns:crearDocumentoResponse"/>
    </message>
    <message name="generarDocumentoRegistroGCA">
        <part name="parameters" element="tns:generarDocumentoRegistroGCA"/>
    </message>
    <message name="generarDocumentoRegistroGCAResponse">
        <part name="parameters" element="tns:generarDocumentoRegistroGCAResponse"/>
    </message>
    <message name="ejecutarIngreso">
        <part name="parameters" element="tns:ejecutarIngreso"/>
    </message>
    <message name="ejecutarIngresoResponse">
        <part name="parameters" element="tns:ejecutarIngresoResponse"/>
    </message>
    <message name="generarDocumentoAutorizacionSEExpoZoo">
        <part name="parameters" element="tns:generarDocumentoAutorizacionSEExpoZoo"/>
    </message>
    <message name="generarDocumentoAutorizacionSEExpoZooResponse">
        <part name="parameters" element="tns:generarDocumentoAutorizacionSEExpoZooResponse"/>
    </message>
    <message name="generarDocumentoIIVFIto">
        <part name="parameters" element="tns:generarDocumentoIIVFIto"/>
    </message>
    <message name="generarDocumentoIIVFItoResponse">
        <part name="parameters" element="tns:generarDocumentoIIVFItoResponse"/>
    </message>
    <message name="obtenerFirmante">
        <part name="parameters" element="tns:obtenerFirmante"/>
    </message>
    <message name="obtenerFirmanteResponse">
        <part name="parameters" element="tns:obtenerFirmanteResponse"/>
    </message>
    <message name="obtenerUrlDocumento">
        <part name="parameters" element="tns:obtenerUrlDocumento"/>
    </message>
    <message name="obtenerUrlDocumentoResponse">
        <part name="parameters" element="tns:obtenerUrlDocumentoResponse"/>
    </message>
    <message name="grabarDocumentoStdHijo">
        <part name="parameters" element="tns:grabarDocumentoStdHijo"/>
    </message>
    <message name="grabarDocumentoStdHijoResponse">
        <part name="parameters" element="tns:grabarDocumentoStdHijoResponse"/>
    </message>
    <message name="obtenerDocumento">
        <part name="parameters" element="tns:obtenerDocumento"/>
    </message>
    <message name="obtenerDocumentoResponse">
        <part name="parameters" element="tns:obtenerDocumentoResponse"/>
    </message>
    <message name="crearDocumentoExpoFito">
        <part name="parameters" element="tns:crearDocumentoExpoFito"/>
    </message>
    <message name="crearDocumentoExpoFitoResponse">
        <part name="parameters" element="tns:crearDocumentoExpoFitoResponse"/>
    </message>
    <message name="generarDocumento">
        <part name="parameters" element="tns:generarDocumento"/>
    </message>
    <message name="generarDocumentoResponse">
        <part name="parameters" element="tns:generarDocumentoResponse"/>
    </message>
    <message name="generarNumeroDocumento">
        <part name="parameters" element="tns:generarNumeroDocumento"/>
    </message>
    <message name="generarNumeroDocumentoResponse">
        <part name="parameters" element="tns:generarNumeroDocumentoResponse"/>
    </message>
    <portType name="Documentos">
        <operation name="eliminarNumeroDocumento">
            <input message="tns:eliminarNumeroDocumento" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/eliminarNumeroDocumentoRequest"/>
            <output message="tns:eliminarNumeroDocumentoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/eliminarNumeroDocumentoResponse"/>
        </operation>
        <operation name="previsualizarIngreso">
            <input message="tns:previsualizarIngreso" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/previsualizarIngresoRequest"/>
            <output message="tns:previsualizarIngresoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/previsualizarIngresoResponse"/>
        </operation>
        <operation name="ObtenerCodDocumentoStdPadre">
            <input message="tns:ObtenerCodDocumentoStdPadre" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/ObtenerCodDocumentoStdPadreRequest"/>
            <output message="tns:ObtenerCodDocumentoStdPadreResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/ObtenerCodDocumentoStdPadreResponse"/>
        </operation>
        <operation name="crearDocumento">
            <input message="tns:crearDocumento" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/crearDocumentoRequest"/>
            <output message="tns:crearDocumentoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/crearDocumentoResponse"/>
        </operation>
        <operation name="generarDocumentoRegistroGCA">
            <input message="tns:generarDocumentoRegistroGCA" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarDocumentoRegistroGCARequest"/>
            <output message="tns:generarDocumentoRegistroGCAResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarDocumentoRegistroGCAResponse"/>
        </operation>
        <operation name="ejecutarIngreso">
            <input message="tns:ejecutarIngreso" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/ejecutarIngresoRequest"/>
            <output message="tns:ejecutarIngresoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/ejecutarIngresoResponse"/>
        </operation>
        <operation name="generarDocumentoAutorizacionSEExpoZoo">
            <input message="tns:generarDocumentoAutorizacionSEExpoZoo" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarDocumentoAutorizacionSEExpoZooRequest"/>
            <output message="tns:generarDocumentoAutorizacionSEExpoZooResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarDocumentoAutorizacionSEExpoZooResponse"/>
        </operation>
        <operation name="generarDocumentoIIVFIto">
            <input message="tns:generarDocumentoIIVFIto" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarDocumentoIIVFItoRequest"/>
            <output message="tns:generarDocumentoIIVFItoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarDocumentoIIVFItoResponse"/>
        </operation>
        <operation name="obtenerFirmante">
            <input message="tns:obtenerFirmante" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/obtenerFirmanteRequest"/>
            <output message="tns:obtenerFirmanteResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/obtenerFirmanteResponse"/>
        </operation>
        <operation name="obtenerUrlDocumento">
            <input message="tns:obtenerUrlDocumento" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/obtenerUrlDocumentoRequest"/>
            <output message="tns:obtenerUrlDocumentoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/obtenerUrlDocumentoResponse"/>
        </operation>
        <operation name="grabarDocumentoStdHijo">
            <input message="tns:grabarDocumentoStdHijo" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/grabarDocumentoStdHijoRequest"/>
            <output message="tns:grabarDocumentoStdHijoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/grabarDocumentoStdHijoResponse"/>
        </operation>
        <operation name="obtenerDocumento">
            <input message="tns:obtenerDocumento" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/obtenerDocumentoRequest"/>
            <output message="tns:obtenerDocumentoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/obtenerDocumentoResponse"/>
        </operation>
        <operation name="crearDocumentoExpoFito">
            <input message="tns:crearDocumentoExpoFito" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/crearDocumentoExpoFitoRequest"/>
            <output message="tns:crearDocumentoExpoFitoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/crearDocumentoExpoFitoResponse"/>
        </operation>
        <operation name="generarDocumento">
            <input message="tns:generarDocumento" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarDocumentoRequest"/>
            <output message="tns:generarDocumentoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarDocumentoResponse"/>
        </operation>
        <operation name="generarNumeroDocumento">
            <input message="tns:generarNumeroDocumento" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarNumeroDocumentoRequest"/>
            <output message="tns:generarNumeroDocumentoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/Documentos/generarNumeroDocumentoResponse"/>
        </operation>
    </portType>
    <binding name="DocumentosPortBinding" type="tns:Documentos">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="eliminarNumeroDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="previsualizarIngreso">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ObtenerCodDocumentoStdPadre">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="crearDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarDocumentoRegistroGCA">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ejecutarIngreso">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarDocumentoAutorizacionSEExpoZoo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarDocumentoIIVFIto">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerFirmante">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerUrlDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="grabarDocumentoStdHijo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="crearDocumentoExpoFito">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarNumeroDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Documentos">
        <port name="DocumentosPort" binding="tns:DocumentosPortBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/senasaws/DocumentosPort"/>
        </port>
    </service>
</definitions>
