bpm/BpmTUPA/SOA/WSDLs/DocumentoStd.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="DocumentoStd"
     targetNamespace="http://documentoStd.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://documentoStd.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://documentoStd.ws.senasa.gob.pe" schemaLocation="../Schemas/DocumentoStd_xsd_1_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="consultaPendientes">
        <part name="parameters" element="tns:consultaPendientes"/>
    </message>
    <message name="consultaPendientesResponse">
        <part name="parameters" element="tns:consultaPendientesResponse"/>
    </message>
    <message name="exportarReporte">
        <part name="parameters" element="tns:exportarReporte"/>
    </message>
    <message name="exportarReporteResponse">
        <part name="parameters" element="tns:exportarReporteResponse"/>
    </message>
    <message name="grabarDocAnexo">
        <part name="parameters" element="tns:grabarDocAnexo"/>
    </message>
    <message name="grabarDocAnexoResponse">
        <part name="parameters" element="tns:grabarDocAnexoResponse"/>
    </message>
    <message name="obtenerPlantilla">
        <part name="parameters" element="tns:obtenerPlantilla"/>
    </message>
    <message name="obtenerPlantillaResponse">
        <part name="parameters" element="tns:obtenerPlantillaResponse"/>
    </message>
    <message name="previsualizarDocumento">
        <part name="parameters" element="tns:previsualizarDocumento"/>
    </message>
    <message name="previsualizarDocumentoResponse">
        <part name="parameters" element="tns:previsualizarDocumentoResponse"/>
    </message>
    <message name="generarDocumento">
        <part name="parameters" element="tns:generarDocumento"/>
    </message>
    <message name="generarDocumentoResponse">
        <part name="parameters" element="tns:generarDocumentoResponse"/>
    </message>
    <message name="consultaGeneral">
        <part name="parameters" element="tns:consultaGeneral"/>
    </message>
    <message name="consultaGeneralResponse">
        <part name="parameters" element="tns:consultaGeneralResponse"/>
    </message>
    <message name="reporteGeneral">
        <part name="parameters" element="tns:reporteGeneral"/>
    </message>
    <message name="reporteGeneralResponse">
        <part name="parameters" element="tns:reporteGeneralResponse"/>
    </message>
    <message name="grabarDocEnRegistroArchivo">
        <part name="parameters" element="tns:grabarDocEnRegistroArchivo"/>
    </message>
    <message name="grabarDocEnRegistroArchivoResponse">
        <part name="parameters" element="tns:grabarDocEnRegistroArchivoResponse"/>
    </message>
    <message name="consultarParticipacion">
        <part name="parameters" element="tns:consultarParticipacion"/>
    </message>
    <message name="consultarParticipacionResponse">
        <part name="parameters" element="tns:consultarParticipacionResponse"/>
    </message>
    <message name="grabarResolutivoProv">
        <part name="parameters" element="tns:grabarResolutivoProv"/>
    </message>
    <message name="grabarResolutivoProvResponse">
        <part name="parameters" element="tns:grabarResolutivoProvResponse"/>
    </message>
    <message name="actualizarDocumento">
        <part name="parameters" element="tns:actualizarDocumento"/>
    </message>
    <message name="actualizarDocumentoResponse">
        <part name="parameters" element="tns:actualizarDocumentoResponse"/>
    </message>
    <message name="registrarDocumento">
        <part name="parameters" element="tns:registrarDocumento"/>
    </message>
    <message name="registrarDocumentoResponse">
        <part name="parameters" element="tns:registrarDocumentoResponse"/>
    </message>
    <message name="solicitarServicioOCR">
        <part name="parameters" element="tns:solicitarServicioOCR"/>
    </message>
    <message name="solicitarServicioOCRResponse">
        <part name="parameters" element="tns:solicitarServicioOCRResponse"/>
    </message>
    <message name="verificarServicioOCR">
        <part name="parameters" element="tns:verificarServicioOCR"/>
    </message>
    <message name="verificarServicioOCRResponse">
        <part name="parameters" element="tns:verificarServicioOCRResponse"/>
    </message>
    <portType name="DocumentoStd">
        <operation name="consultaPendientes">
            <input message="tns:consultaPendientes" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/consultaPendientesRequest"/>
            <output message="tns:consultaPendientesResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/consultaPendientesResponse"/>
        </operation>
        <operation name="exportarReporte">
            <input message="tns:exportarReporte" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/exportarReporteRequest"/>
            <output message="tns:exportarReporteResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/exportarReporteResponse"/>
        </operation>
        <operation name="grabarDocAnexo">
            <input message="tns:grabarDocAnexo" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/grabarDocAnexoRequest"/>
            <output message="tns:grabarDocAnexoResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/grabarDocAnexoResponse"/>
        </operation>
        <operation name="obtenerPlantilla">
            <input message="tns:obtenerPlantilla" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/obtenerPlantillaRequest"/>
            <output message="tns:obtenerPlantillaResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/obtenerPlantillaResponse"/>
        </operation>
        <operation name="previsualizarDocumento">
            <input message="tns:previsualizarDocumento" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/previsualizarDocumentoRequest"/>
            <output message="tns:previsualizarDocumentoResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/previsualizarDocumentoResponse"/>
        </operation>
        <operation name="generarDocumento">
            <input message="tns:generarDocumento" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/generarDocumentoRequest"/>
            <output message="tns:generarDocumentoResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/generarDocumentoResponse"/>
        </operation>
        <operation name="consultaGeneral">
            <input message="tns:consultaGeneral" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/consultaGeneralRequest"/>
            <output message="tns:consultaGeneralResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/consultaGeneralResponse"/>
        </operation>
        <operation name="reporteGeneral">
            <input message="tns:reporteGeneral" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/reporteGeneralRequest"/>
            <output message="tns:reporteGeneralResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/reporteGeneralResponse"/>
        </operation>
        <operation name="grabarDocEnRegistroArchivo">
            <input message="tns:grabarDocEnRegistroArchivo" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/grabarDocEnRegistroArchivoRequest"/>
            <output message="tns:grabarDocEnRegistroArchivoResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/grabarDocEnRegistroArchivoResponse"/>
        </operation>
        <operation name="consultarParticipacion">
            <input message="tns:consultarParticipacion" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/consultarParticipacionRequest"/>
            <output message="tns:consultarParticipacionResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/consultarParticipacionResponse"/>
        </operation>
        <operation name="grabarResolutivoProv">
            <input message="tns:grabarResolutivoProv" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/grabarResolutivoProvRequest"/>
            <output message="tns:grabarResolutivoProvResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/grabarResolutivoProvResponse"/>
        </operation>
        <operation name="actualizarDocumento">
            <input message="tns:actualizarDocumento" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/actualizarDocumentoRequest"/>
            <output message="tns:actualizarDocumentoResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/actualizarDocumentoResponse"/>
        </operation>
        <operation name="registrarDocumento">
            <input message="tns:registrarDocumento" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/registrarDocumentoRequest"/>
            <output message="tns:registrarDocumentoResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/registrarDocumentoResponse"/>
        </operation>
        <operation name="solicitarServicioOCR">
            <input message="tns:solicitarServicioOCR" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/solicitarServicioOCRRequest"/>
            <output message="tns:solicitarServicioOCRResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/solicitarServicioOCRResponse"/>
        </operation>
        <operation name="verificarServicioOCR">
            <input message="tns:verificarServicioOCR" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/verificarServicioOCRRequest"/>
            <output message="tns:verificarServicioOCRResponse" wsam:Action="http://documentoStd.ws.senasa.gob.pe/DocumentoStd/verificarServicioOCRResponse"/>
        </operation>
    </portType>
    <binding name="DocumentoStdBinding" type="tns:DocumentoStd">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="consultaPendientes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="exportarReporte">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="grabarDocAnexo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerPlantilla">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="previsualizarDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultaGeneral">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reporteGeneral">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="grabarDocEnRegistroArchivo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultarParticipacion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="grabarResolutivoProv">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="actualizarDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="solicitarServicioOCR">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="verificarServicioOCR">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="DocumentoStd">
        <port name="DocumentoStd" binding="tns:DocumentoStdBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/WSDocumentoStd/DocumentoStd"/>
        </port>
    </service>
</definitions>
