bpm/BpmTUPA/SOA/WSDLs/ExpedientePort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="Expediente"
     targetNamespace="http://expediente.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://expediente.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://expediente.ws.senasa.gob.pe" schemaLocation="../Schemas/ExpedientePort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="cierreTotal">
        <part name="parameters" element="tns:cierreTotal"/>
    </message>
    <message name="cierreTotalResponse">
        <part name="parameters" element="tns:cierreTotalResponse"/>
    </message>
    <message name="obtenerOrdenPorMTO">
        <part name="parameters" element="tns:obtenerOrdenPorMTO"/>
    </message>
    <message name="obtenerOrdenPorMTOResponse">
        <part name="parameters" element="tns:obtenerOrdenPorMTOResponse"/>
    </message>
    <message name="obtenerExpedienteStd">
        <part name="parameters" element="tns:obtenerExpedienteStd"/>
    </message>
    <message name="obtenerExpedienteStdResponse">
        <part name="parameters" element="tns:obtenerExpedienteStdResponse"/>
    </message>
    <message name="anexarDocumentoExpediente">
        <part name="parameters" element="tns:anexarDocumentoExpediente"/>
    </message>
    <message name="anexarDocumentoExpedienteResponse">
        <part name="parameters" element="tns:anexarDocumentoExpedienteResponse"/>
    </message>
    <message name="registrarExpediente">
        <part name="parameters" element="tns:registrarExpediente"/>
    </message>
    <message name="registrarExpedienteResponse">
        <part name="parameters" element="tns:registrarExpedienteResponse"/>
    </message>
    <message name="registrarTrazabilidadTUPAInicio">
        <part name="parameters" element="tns:registrarTrazabilidadTUPAInicio"/>
    </message>
    <message name="registrarTrazabilidadTUPAInicioResponse">
        <part name="parameters" element="tns:registrarTrazabilidadTUPAInicioResponse"/>
    </message>
    <message name="obtenerExpedienteTupa">
        <part name="parameters" element="tns:obtenerExpedienteTupa"/>
    </message>
    <message name="obtenerExpedienteTupaResponse">
        <part name="parameters" element="tns:obtenerExpedienteTupaResponse"/>
    </message>
    <message name="cerrarExpediente">
        <part name="parameters" element="tns:cerrarExpediente"/>
    </message>
    <message name="cerrarExpedienteResponse">
        <part name="parameters" element="tns:cerrarExpedienteResponse"/>
    </message>
    <message name="obtenerExpedienteVuce">
        <part name="parameters" element="tns:obtenerExpedienteVuce"/>
    </message>
    <message name="obtenerExpedienteVuceResponse">
        <part name="parameters" element="tns:obtenerExpedienteVuceResponse"/>
    </message>
    <portType name="Expediente">
        <operation name="cierreTotal">
            <input message="tns:cierreTotal" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/cierreTotalRequest"/>
            <output message="tns:cierreTotalResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/cierreTotalResponse"/>
        </operation>
        <operation name="obtenerOrdenPorMTO">
            <input message="tns:obtenerOrdenPorMTO" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/obtenerOrdenPorMTORequest"/>
            <output message="tns:obtenerOrdenPorMTOResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/obtenerOrdenPorMTOResponse"/>
        </operation>
        <operation name="obtenerExpedienteStd">
            <input message="tns:obtenerExpedienteStd" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/obtenerExpedienteStdRequest"/>
            <output message="tns:obtenerExpedienteStdResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/obtenerExpedienteStdResponse"/>
        </operation>
        <operation name="anexarDocumentoExpediente">
            <input message="tns:anexarDocumentoExpediente" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/anexarDocumentoExpedienteRequest"/>
            <output message="tns:anexarDocumentoExpedienteResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/anexarDocumentoExpedienteResponse"/>
        </operation>
        <operation name="registrarExpediente">
            <input message="tns:registrarExpediente" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/registrarExpedienteRequest"/>
            <output message="tns:registrarExpedienteResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/registrarExpedienteResponse"/>
        </operation>
        <operation name="registrarTrazabilidadTUPAInicio">
            <input message="tns:registrarTrazabilidadTUPAInicio" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/registrarTrazabilidadTUPAInicioRequest"/>
            <output message="tns:registrarTrazabilidadTUPAInicioResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/registrarTrazabilidadTUPAInicioResponse"/>
        </operation>
        <operation name="obtenerExpedienteTupa">
            <input message="tns:obtenerExpedienteTupa" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/obtenerExpedienteTupaRequest"/>
            <output message="tns:obtenerExpedienteTupaResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/obtenerExpedienteTupaResponse"/>
        </operation>
        <operation name="cerrarExpediente">
            <input message="tns:cerrarExpediente" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/cerrarExpedienteRequest"/>
            <output message="tns:cerrarExpedienteResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/cerrarExpedienteResponse"/>
        </operation>
        <operation name="obtenerExpedienteVuce">
            <input message="tns:obtenerExpedienteVuce" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/obtenerExpedienteVuceRequest"/>
            <output message="tns:obtenerExpedienteVuceResponse" wsam:Action="http://expediente.ws.senasa.gob.pe/Expediente/obtenerExpedienteVuceResponse"/>
        </operation>
    </portType>
    <binding name="ExpedientePortBinding" type="tns:Expediente">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cierreTotal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerOrdenPorMTO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerExpedienteStd">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="anexarDocumentoExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarTrazabilidadTUPAInicio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerExpedienteTupa">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cerrarExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerExpedienteVuce">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Expediente">
        <port name="ExpedientePort" binding="tns:ExpedientePortBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/WSExpediente/ExpedientePort"/>
        </port>
    </service>
</definitions>
