bpm/BpmTUPA/SOA/WSDLs/FuncionarioWSPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="Funcionario"
     targetNamespace="http://funcionario.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://funcionario.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://funcionario.ws.senasa.gob.pe" schemaLocation="../Schemas/FuncionarioWSPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="obtenerFuncionarioPorNombre">
        <part name="parameters" element="tns:obtenerFuncionarioPorNombre"/>
    </message>
    <message name="obtenerFuncionarioPorNombreResponse">
        <part name="parameters" element="tns:obtenerFuncionarioPorNombreResponse"/>
    </message>
    <message name="autenticarUsuario">
        <part name="parameters" element="tns:autenticarUsuario"/>
    </message>
    <message name="autenticarUsuarioResponse">
        <part name="parameters" element="tns:autenticarUsuarioResponse"/>
    </message>
    <message name="obtenerAreas">
        <part name="parameters" element="tns:obtenerAreas"/>
    </message>
    <message name="obtenerAreasResponse">
        <part name="parameters" element="tns:obtenerAreasResponse"/>
    </message>
    <message name="obtenerTiposIE">
        <part name="parameters" element="tns:obtenerTiposIE"/>
    </message>
    <message name="obtenerTiposIEResponse">
        <part name="parameters" element="tns:obtenerTiposIEResponse"/>
    </message>
    <message name="obtenerReemplazo">
        <part name="parameters" element="tns:obtenerReemplazo"/>
    </message>
    <message name="obtenerReemplazoResponse">
        <part name="parameters" element="tns:obtenerReemplazoResponse"/>
    </message>
    <message name="obtenerJefePorDepartamento">
        <part name="parameters" element="tns:obtenerJefePorDepartamento"/>
    </message>
    <message name="obtenerJefePorDepartamentoResponse">
        <part name="parameters" element="tns:obtenerJefePorDepartamentoResponse"/>
    </message>
    <message name="buscarFuncionariosPorNombre">
        <part name="parameters" element="tns:buscarFuncionariosPorNombre"/>
    </message>
    <message name="buscarFuncionariosPorNombreResponse">
        <part name="parameters" element="tns:buscarFuncionariosPorNombreResponse"/>
    </message>
    <message name="obtenerEntidadesPorFiltro">
        <part name="parameters" element="tns:obtenerEntidadesPorFiltro"/>
    </message>
    <message name="obtenerEntidadesPorFiltroResponse">
        <part name="parameters" element="tns:obtenerEntidadesPorFiltroResponse"/>
    </message>
    <message name="buscarDestinatarioPorCentroTramite">
        <part name="parameters" element="tns:buscarDestinatarioPorCentroTramite"/>
    </message>
    <message name="buscarDestinatarioPorCentroTramiteResponse">
        <part name="parameters" element="tns:buscarDestinatarioPorCentroTramiteResponse"/>
    </message>
    <message name="obtenerSubTipos">
        <part name="parameters" element="tns:obtenerSubTipos"/>
    </message>
    <message name="obtenerSubTiposResponse">
        <part name="parameters" element="tns:obtenerSubTiposResponse"/>
    </message>
    <message name="obtenerFuncionarioConAsistentes">
        <part name="parameters" element="tns:obtenerFuncionarioConAsistentes"/>
    </message>
    <message name="obtenerFuncionarioConAsistentesResponse">
        <part name="parameters" element="tns:obtenerFuncionarioConAsistentesResponse"/>
    </message>
    <message name="obtenerEntidades">
        <part name="parameters" element="tns:obtenerEntidades"/>
    </message>
    <message name="obtenerEntidadesResponse">
        <part name="parameters" element="tns:obtenerEntidadesResponse"/>
    </message>
    <message name="obtenerSubentidades">
        <part name="parameters" element="tns:obtenerSubentidades"/>
    </message>
    <message name="obtenerSubentidadesResponse">
        <part name="parameters" element="tns:obtenerSubentidadesResponse"/>
    </message>
    <message name="obtenerTipos">
        <part name="parameters" element="tns:obtenerTipos"/>
    </message>
    <message name="obtenerTiposResponse">
        <part name="parameters" element="tns:obtenerTiposResponse"/>
    </message>
    <message name="validarUsuario">
        <part name="parameters" element="tns:validarUsuario"/>
    </message>
    <message name="validarUsuarioResponse">
        <part name="parameters" element="tns:validarUsuarioResponse"/>
    </message>
    <message name="obtenerFuncionarioPorIdPersona">
        <part name="parameters" element="tns:obtenerFuncionarioPorIdPersona"/>
    </message>
    <message name="obtenerFuncionarioPorIdPersonaResponse">
        <part name="parameters" element="tns:obtenerFuncionarioPorIdPersonaResponse"/>
    </message>
    <message name="obtenerFuncionarioPorUserName">
        <part name="parameters" element="tns:obtenerFuncionarioPorUserName"/>
    </message>
    <message name="obtenerFuncionarioPorUserNameResponse">
        <part name="parameters" element="tns:obtenerFuncionarioPorUserNameResponse"/>
    </message>
    <message name="obtenerFuncionarios">
        <part name="parameters" element="tns:obtenerFuncionarios"/>
    </message>
    <message name="obtenerFuncionariosResponse">
        <part name="parameters" element="tns:obtenerFuncionariosResponse"/>
    </message>
    <message name="obtenerJefeInmediato">
        <part name="parameters" element="tns:obtenerJefeInmediato"/>
    </message>
    <message name="obtenerJefeInmediatoResponse">
        <part name="parameters" element="tns:obtenerJefeInmediatoResponse"/>
    </message>
    <message name="obtenerFuncionariosSubordinados">
        <part name="parameters" element="tns:obtenerFuncionariosSubordinados"/>
    </message>
    <message name="obtenerFuncionariosSubordinadosResponse">
        <part name="parameters" element="tns:obtenerFuncionariosSubordinadosResponse"/>
    </message>
    <message name="obtenerSubareas">
        <part name="parameters" element="tns:obtenerSubareas"/>
    </message>
    <message name="obtenerSubareasResponse">
        <part name="parameters" element="tns:obtenerSubareasResponse"/>
    </message>
    <message name="obtenerJefePorSede">
        <part name="parameters" element="tns:obtenerJefePorSede"/>
    </message>
    <message name="obtenerJefePorSedeResponse">
        <part name="parameters" element="tns:obtenerJefePorSedeResponse"/>
    </message>
    <portType name="Funcionario">
        <operation name="obtenerFuncionarioPorNombre">
            <input message="tns:obtenerFuncionarioPorNombre" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionarioPorNombreRequest"/>
            <output message="tns:obtenerFuncionarioPorNombreResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionarioPorNombreResponse"/>
        </operation>
        <operation name="autenticarUsuario">
            <input message="tns:autenticarUsuario" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/autenticarUsuarioRequest"/>
            <output message="tns:autenticarUsuarioResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/autenticarUsuarioResponse"/>
        </operation>
        <operation name="obtenerAreas">
            <input message="tns:obtenerAreas" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerAreasRequest"/>
            <output message="tns:obtenerAreasResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerAreasResponse"/>
        </operation>
        <operation name="obtenerTiposIE">
            <input message="tns:obtenerTiposIE" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerTiposIERequest"/>
            <output message="tns:obtenerTiposIEResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerTiposIEResponse"/>
        </operation>
        <operation name="obtenerReemplazo">
            <input message="tns:obtenerReemplazo" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerReemplazoRequest"/>
            <output message="tns:obtenerReemplazoResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerReemplazoResponse"/>
        </operation>
        <operation name="obtenerJefePorDepartamento">
            <input message="tns:obtenerJefePorDepartamento" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerJefePorDepartamentoRequest"/>
            <output message="tns:obtenerJefePorDepartamentoResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerJefePorDepartamentoResponse"/>
        </operation>
        <operation name="buscarFuncionariosPorNombre">
            <input message="tns:buscarFuncionariosPorNombre" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/buscarFuncionariosPorNombreRequest"/>
            <output message="tns:buscarFuncionariosPorNombreResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/buscarFuncionariosPorNombreResponse"/>
        </operation>
        <operation name="obtenerEntidadesPorFiltro">
            <input message="tns:obtenerEntidadesPorFiltro" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerEntidadesPorFiltroRequest"/>
            <output message="tns:obtenerEntidadesPorFiltroResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerEntidadesPorFiltroResponse"/>
        </operation>
        <operation name="buscarDestinatarioPorCentroTramite">
            <input message="tns:buscarDestinatarioPorCentroTramite" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/buscarDestinatarioPorCentroTramiteRequest"/>
            <output message="tns:buscarDestinatarioPorCentroTramiteResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/buscarDestinatarioPorCentroTramiteResponse"/>
        </operation>
        <operation name="obtenerSubTipos">
            <input message="tns:obtenerSubTipos" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerSubTiposRequest"/>
            <output message="tns:obtenerSubTiposResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerSubTiposResponse"/>
        </operation>
        <operation name="obtenerFuncionarioConAsistentes">
            <input message="tns:obtenerFuncionarioConAsistentes" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionarioConAsistentesRequest"/>
            <output message="tns:obtenerFuncionarioConAsistentesResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionarioConAsistentesResponse"/>
        </operation>
        <operation name="obtenerEntidades">
            <input message="tns:obtenerEntidades" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerEntidadesRequest"/>
            <output message="tns:obtenerEntidadesResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerEntidadesResponse"/>
        </operation>
        <operation name="obtenerSubentidades">
            <input message="tns:obtenerSubentidades" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerSubentidadesRequest"/>
            <output message="tns:obtenerSubentidadesResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerSubentidadesResponse"/>
        </operation>
        <operation name="obtenerTipos">
            <input message="tns:obtenerTipos" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerTiposRequest"/>
            <output message="tns:obtenerTiposResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerTiposResponse"/>
        </operation>
        <operation name="validarUsuario">
            <input message="tns:validarUsuario" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/validarUsuarioRequest"/>
            <output message="tns:validarUsuarioResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/validarUsuarioResponse"/>
        </operation>
        <operation name="obtenerFuncionarioPorIdPersona">
            <input message="tns:obtenerFuncionarioPorIdPersona" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionarioPorIdPersonaRequest"/>
            <output message="tns:obtenerFuncionarioPorIdPersonaResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionarioPorIdPersonaResponse"/>
        </operation>
        <operation name="obtenerFuncionarioPorUserName">
            <input message="tns:obtenerFuncionarioPorUserName" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionarioPorUserNameRequest"/>
            <output message="tns:obtenerFuncionarioPorUserNameResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionarioPorUserNameResponse"/>
        </operation>
        <operation name="obtenerFuncionarios">
            <input message="tns:obtenerFuncionarios" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionariosRequest"/>
            <output message="tns:obtenerFuncionariosResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionariosResponse"/>
        </operation>
        <operation name="obtenerJefeInmediato">
            <input message="tns:obtenerJefeInmediato" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerJefeInmediatoRequest"/>
            <output message="tns:obtenerJefeInmediatoResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerJefeInmediatoResponse"/>
        </operation>
        <operation name="obtenerFuncionariosSubordinados">
            <input message="tns:obtenerFuncionariosSubordinados" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionariosSubordinadosRequest"/>
            <output message="tns:obtenerFuncionariosSubordinadosResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerFuncionariosSubordinadosResponse"/>
        </operation>
        <operation name="obtenerSubareas">
            <input message="tns:obtenerSubareas" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerSubareasRequest"/>
            <output message="tns:obtenerSubareasResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerSubareasResponse"/>
        </operation>
        <operation name="obtenerJefePorSede">
            <input message="tns:obtenerJefePorSede" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerJefePorSedeRequest"/>
            <output message="tns:obtenerJefePorSedeResponse" wsam:Action="http://funcionario.ws.senasa.gob.pe/Funcionario/obtenerJefePorSedeResponse"/>
        </operation>
    </portType>
    <binding name="FuncionarioPortBinding" type="tns:Funcionario">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="obtenerFuncionarioPorNombre">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="autenticarUsuario">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerAreas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerTiposIE">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerReemplazo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerJefePorDepartamento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="buscarFuncionariosPorNombre">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerEntidadesPorFiltro">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="buscarDestinatarioPorCentroTramite">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerSubTipos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerFuncionarioConAsistentes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerEntidades">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerSubentidades">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerTipos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="validarUsuario">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerFuncionarioPorIdPersona">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerFuncionarioPorUserName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerFuncionarios">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerJefeInmediato">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerFuncionariosSubordinados">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerSubareas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerJefePorSede">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Funcionario">
        <port name="FuncionarioPort" binding="tns:FuncionarioPortBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/senasaws/FuncionarioWSPort"/>
        </port>
    </service>
</definitions>
