bpm/BpmTUPA/SOA/WSDLs/GeneralWSPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="General"
     targetNamespace="http://general.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://general.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://general.ws.senasa.gob.pe" schemaLocation="../Schemas/GeneralWSPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="generaNumeroExpediente">
        <part name="parameters" element="tns:generaNumeroExpediente"/>
    </message>
    <message name="generaNumeroExpedienteResponse">
        <part name="parameters" element="tns:generaNumeroExpedienteResponse"/>
    </message>
    <message name="generaNumeroSolicitud">
        <part name="parameters" element="tns:generaNumeroSolicitud"/>
    </message>
    <message name="generaNumeroSolicitudResponse">
        <part name="parameters" element="tns:generaNumeroSolicitudResponse"/>
    </message>
    <message name="insertarTrazabilidad">
        <part name="parameters" element="tns:insertarTrazabilidad"/>
    </message>
    <message name="insertarTrazabilidadResponse">
        <part name="parameters" element="tns:insertarTrazabilidadResponse"/>
    </message>
    <message name="reporteDocumentosNoAtendidos">
        <part name="parameters" element="tns:reporteDocumentosNoAtendidos"/>
    </message>
    <message name="reporteDocumentosNoAtendidosResponse">
        <part name="parameters" element="tns:reporteDocumentosNoAtendidosResponse"/>
    </message>
    <message name="obtenerNombreServicio">
        <part name="parameters" element="tns:obtenerNombreServicio"/>
    </message>
    <message name="obtenerNombreServicioResponse">
        <part name="parameters" element="tns:obtenerNombreServicioResponse"/>
    </message>
    <message name="verificarEstadoPermiso">
        <part name="parameters" element="tns:verificarEstadoPermiso"/>
    </message>
    <message name="verificarEstadoPermisoResponse">
        <part name="parameters" element="tns:verificarEstadoPermisoResponse"/>
    </message>
    <message name="obtenerFechaAmpliacion">
        <part name="parameters" element="tns:obtenerFechaAmpliacion"/>
    </message>
    <message name="obtenerFechaAmpliacionResponse">
        <part name="parameters" element="tns:obtenerFechaAmpliacionResponse"/>
    </message>
    <message name="obtenerDatosGuardacustodia">
        <part name="parameters" element="tns:obtenerDatosGuardacustodia"/>
    </message>
    <message name="obtenerDatosGuardacustodiaResponse">
        <part name="parameters" element="tns:obtenerDatosGuardacustodiaResponse"/>
    </message>
    <message name="obtenerDatosPFTI">
        <part name="parameters" element="tns:obtenerDatosPFTI"/>
    </message>
    <message name="obtenerDatosPFTIResponse">
        <part name="parameters" element="tns:obtenerDatosPFTIResponse"/>
    </message>
    <message name="obtenerAdjuntosVuce">
        <part name="parameters" element="tns:obtenerAdjuntosVuce"/>
    </message>
    <message name="obtenerAdjuntosVuceResponse">
        <part name="parameters" element="tns:obtenerAdjuntosVuceResponse"/>
    </message>
    <message name="cargarDatosPFTI">
        <part name="parameters" element="tns:cargarDatosPFTI"/>
    </message>
    <message name="cargarDatosPFTIResponse">
        <part name="parameters" element="tns:cargarDatosPFTIResponse"/>
    </message>
    <message name="obtenerUcmidPorExpediente">
        <part name="parameters" element="tns:obtenerUcmidPorExpediente"/>
    </message>
    <message name="obtenerUcmidPorExpedienteResponse">
        <part name="parameters" element="tns:obtenerUcmidPorExpedienteResponse"/>
    </message>
    <message name="ValidarConfidencial">
        <part name="parameters" element="tns:ValidarConfidencial"/>
    </message>
    <message name="ValidarConfidencialResponse">
        <part name="parameters" element="tns:ValidarConfidencialResponse"/>
    </message>
    <message name="obtenerPasswordFirmante">
        <part name="parameters" element="tns:obtenerPasswordFirmante"/>
    </message>
    <message name="obtenerPasswordFirmanteResponse">
        <part name="parameters" element="tns:obtenerPasswordFirmanteResponse"/>
    </message>
    <message name="actualizarTrazabilidad">
        <part name="parameters" element="tns:actualizarTrazabilidad"/>
    </message>
    <message name="actualizarTrazabilidadResponse">
        <part name="parameters" element="tns:actualizarTrazabilidadResponse"/>
    </message>
    <message name="actualizarCodigoProcTupaCPE">
        <part name="parameters" element="tns:actualizarCodigoProcTupaCPE"/>
    </message>
    <message name="actualizarCodigoProcTupaCPEResponse">
        <part name="parameters" element="tns:actualizarCodigoProcTupaCPEResponse"/>
    </message>
    <message name="guardarExpedienteTemporal">
        <part name="parameters" element="tns:guardarExpedienteTemporal"/>
    </message>
    <message name="guardarExpedienteTemporalResponse">
        <part name="parameters" element="tns:guardarExpedienteTemporalResponse"/>
    </message>
    <message name="consultaTrazaMensaje">
        <part name="parameters" element="tns:consultaTrazaMensaje"/>
    </message>
    <message name="consultaTrazaMensajeResponse">
        <part name="parameters" element="tns:consultaTrazaMensajeResponse"/>
    </message>
    <message name="obtenerCaducidad">
        <part name="parameters" element="tns:obtenerCaducidad"/>
    </message>
    <message name="obtenerCaducidadResponse">
        <part name="parameters" element="tns:obtenerCaducidadResponse"/>
    </message>
    <message name="registrarServiciosExp">
        <part name="parameters" element="tns:registrarServiciosExp"/>
    </message>
    <message name="registrarServiciosExpResponse">
        <part name="parameters" element="tns:registrarServiciosExpResponse"/>
    </message>
    <message name="consultaGeneral">
        <part name="parameters" element="tns:consultaGeneral"/>
    </message>
    <message name="consultaGeneralResponse">
        <part name="parameters" element="tns:consultaGeneralResponse"/>
    </message>
    <message name="consultaDocumentosPendientes">
        <part name="parameters" element="tns:consultaDocumentosPendientes"/>
    </message>
    <message name="consultaDocumentosPendientesResponse">
        <part name="parameters" element="tns:consultaDocumentosPendientesResponse"/>
    </message>
    <message name="reporteNumeroDerivaciones">
        <part name="parameters" element="tns:reporteNumeroDerivaciones"/>
    </message>
    <message name="reporteNumeroDerivacionesResponse">
        <part name="parameters" element="tns:reporteNumeroDerivacionesResponse"/>
    </message>
    <message name="createQR">
        <part name="parameters" element="tns:createQR"/>
    </message>
    <message name="createQRResponse">
        <part name="parameters" element="tns:createQRResponse"/>
    </message>
    <portType name="General">
        <operation name="generaNumeroExpediente">
            <input message="tns:generaNumeroExpediente" wsam:Action="http://general.ws.senasa.gob.pe/General/generaNumeroExpedienteRequest"/>
            <output message="tns:generaNumeroExpedienteResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/generaNumeroExpedienteResponse"/>
        </operation>
        <operation name="generaNumeroSolicitud">
            <input message="tns:generaNumeroSolicitud" wsam:Action="http://general.ws.senasa.gob.pe/General/generaNumeroSolicitudRequest"/>
            <output message="tns:generaNumeroSolicitudResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/generaNumeroSolicitudResponse"/>
        </operation>
        <operation name="insertarTrazabilidad">
            <input message="tns:insertarTrazabilidad" wsam:Action="http://general.ws.senasa.gob.pe/General/insertarTrazabilidadRequest"/>
            <output message="tns:insertarTrazabilidadResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/insertarTrazabilidadResponse"/>
        </operation>
        <operation name="reporteDocumentosNoAtendidos">
            <input message="tns:reporteDocumentosNoAtendidos" wsam:Action="http://general.ws.senasa.gob.pe/General/reporteDocumentosNoAtendidosRequest"/>
            <output message="tns:reporteDocumentosNoAtendidosResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/reporteDocumentosNoAtendidosResponse"/>
        </operation>
        <operation name="obtenerNombreServicio">
            <input message="tns:obtenerNombreServicio" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerNombreServicioRequest"/>
            <output message="tns:obtenerNombreServicioResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerNombreServicioResponse"/>
        </operation>
        <operation name="verificarEstadoPermiso">
            <input message="tns:verificarEstadoPermiso" wsam:Action="http://general.ws.senasa.gob.pe/General/verificarEstadoPermisoRequest"/>
            <output message="tns:verificarEstadoPermisoResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/verificarEstadoPermisoResponse"/>
        </operation>
        <operation name="obtenerFechaAmpliacion">
            <input message="tns:obtenerFechaAmpliacion" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerFechaAmpliacionRequest"/>
            <output message="tns:obtenerFechaAmpliacionResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerFechaAmpliacionResponse"/>
        </operation>
        <operation name="obtenerDatosGuardacustodia">
            <input message="tns:obtenerDatosGuardacustodia" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerDatosGuardacustodiaRequest"/>
            <output message="tns:obtenerDatosGuardacustodiaResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerDatosGuardacustodiaResponse"/>
        </operation>
        <operation name="obtenerDatosPFTI">
            <input message="tns:obtenerDatosPFTI" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerDatosPFTIRequest"/>
            <output message="tns:obtenerDatosPFTIResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerDatosPFTIResponse"/>
        </operation>
        <operation name="obtenerAdjuntosVuce">
            <input message="tns:obtenerAdjuntosVuce" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerAdjuntosVuceRequest"/>
            <output message="tns:obtenerAdjuntosVuceResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerAdjuntosVuceResponse"/>
        </operation>
        <operation name="cargarDatosPFTI">
            <input message="tns:cargarDatosPFTI" wsam:Action="http://general.ws.senasa.gob.pe/General/cargarDatosPFTIRequest"/>
            <output message="tns:cargarDatosPFTIResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/cargarDatosPFTIResponse"/>
        </operation>
        <operation name="obtenerUcmidPorExpediente">
            <input message="tns:obtenerUcmidPorExpediente" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerUcmidPorExpedienteRequest"/>
            <output message="tns:obtenerUcmidPorExpedienteResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerUcmidPorExpedienteResponse"/>
        </operation>
        <operation name="ValidarConfidencial">
            <input message="tns:ValidarConfidencial" wsam:Action="http://general.ws.senasa.gob.pe/General/ValidarConfidencialRequest"/>
            <output message="tns:ValidarConfidencialResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/ValidarConfidencialResponse"/>
        </operation>
        <operation name="obtenerPasswordFirmante">
            <input message="tns:obtenerPasswordFirmante" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerPasswordFirmanteRequest"/>
            <output message="tns:obtenerPasswordFirmanteResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerPasswordFirmanteResponse"/>
        </operation>
        <operation name="actualizarTrazabilidad">
            <input message="tns:actualizarTrazabilidad" wsam:Action="http://general.ws.senasa.gob.pe/General/actualizarTrazabilidadRequest"/>
            <output message="tns:actualizarTrazabilidadResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/actualizarTrazabilidadResponse"/>
        </operation>
        <operation name="actualizarCodigoProcTupaCPE">
            <input message="tns:actualizarCodigoProcTupaCPE" wsam:Action="http://general.ws.senasa.gob.pe/General/actualizarCodigoProcTupaCPERequest"/>
            <output message="tns:actualizarCodigoProcTupaCPEResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/actualizarCodigoProcTupaCPEResponse"/>
        </operation>
        <operation name="guardarExpedienteTemporal">
            <input message="tns:guardarExpedienteTemporal" wsam:Action="http://general.ws.senasa.gob.pe/General/guardarExpedienteTemporalRequest"/>
            <output message="tns:guardarExpedienteTemporalResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/guardarExpedienteTemporalResponse"/>
        </operation>
        <operation name="consultaTrazaMensaje">
            <input message="tns:consultaTrazaMensaje" wsam:Action="http://general.ws.senasa.gob.pe/General/consultaTrazaMensajeRequest"/>
            <output message="tns:consultaTrazaMensajeResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/consultaTrazaMensajeResponse"/>
        </operation>
        <operation name="obtenerCaducidad">
            <input message="tns:obtenerCaducidad" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerCaducidadRequest"/>
            <output message="tns:obtenerCaducidadResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/obtenerCaducidadResponse"/>
        </operation>
        <operation name="registrarServiciosExp">
            <input message="tns:registrarServiciosExp" wsam:Action="http://general.ws.senasa.gob.pe/General/registrarServiciosExpRequest"/>
            <output message="tns:registrarServiciosExpResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/registrarServiciosExpResponse"/>
        </operation>
        <operation name="consultaGeneral">
            <input message="tns:consultaGeneral" wsam:Action="http://general.ws.senasa.gob.pe/General/consultaGeneralRequest"/>
            <output message="tns:consultaGeneralResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/consultaGeneralResponse"/>
        </operation>
        <operation name="consultaDocumentosPendientes">
            <input message="tns:consultaDocumentosPendientes" wsam:Action="http://general.ws.senasa.gob.pe/General/consultaDocumentosPendientesRequest"/>
            <output message="tns:consultaDocumentosPendientesResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/consultaDocumentosPendientesResponse"/>
        </operation>
        <operation name="reporteNumeroDerivaciones">
            <input message="tns:reporteNumeroDerivaciones" wsam:Action="http://general.ws.senasa.gob.pe/General/reporteNumeroDerivacionesRequest"/>
            <output message="tns:reporteNumeroDerivacionesResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/reporteNumeroDerivacionesResponse"/>
        </operation>
        <operation name="createQR">
            <input message="tns:createQR" wsam:Action="http://general.ws.senasa.gob.pe/General/createQRRequest"/>
            <output message="tns:createQRResponse" wsam:Action="http://general.ws.senasa.gob.pe/General/createQRResponse"/>
        </operation>
    </portType>
    <binding name="GeneralPortBinding" type="tns:General">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="generaNumeroExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generaNumeroSolicitud">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertarTrazabilidad">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reporteDocumentosNoAtendidos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerNombreServicio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="verificarEstadoPermiso">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerFechaAmpliacion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosGuardacustodia">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosPFTI">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerAdjuntosVuce">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cargarDatosPFTI">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerUcmidPorExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ValidarConfidencial">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerPasswordFirmante">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="actualizarTrazabilidad">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="actualizarCodigoProcTupaCPE">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="guardarExpedienteTemporal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultaTrazaMensaje">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerCaducidad">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarServiciosExp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultaGeneral">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultaDocumentosPendientes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reporteNumeroDerivaciones">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createQR">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="General">
        <port name="GeneralPort" binding="tns:GeneralPortBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/senasaws/GeneralWSPort"/>
        </port>
    </service>
</definitions>
