bpm/BpmTUPA/SOA/WSDLs/GestionVUCEPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="GestionVUCEWSService"
     targetNamespace="http://documentos.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://documentos.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://documentos.ws.senasa.gob.pe" schemaLocation="../Schemas/GestionVUCEPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="obtenerAdjuntos">
        <part name="parameters" element="tns:obtenerAdjuntos"/>
    </message>
    <message name="obtenerAdjuntosResponse">
        <part name="parameters" element="tns:obtenerAdjuntosResponse"/>
    </message>
    <message name="obtenerExpediente">
        <part name="parameters" element="tns:obtenerExpediente"/>
    </message>
    <message name="obtenerExpedienteResponse">
        <part name="parameters" element="tns:obtenerExpedienteResponse"/>
    </message>
    <message name="obtenerDatosConsultaPlantaTra">
        <part name="parameters" element="tns:obtenerDatosConsultaPlantaTra"/>
    </message>
    <message name="obtenerDatosConsultaPlantaTraResponse">
        <part name="parameters" element="tns:obtenerDatosConsultaPlantaTraResponse"/>
    </message>
    <message name="obtenerDatosPersona">
        <part name="parameters" element="tns:obtenerDatosPersona"/>
    </message>
    <message name="obtenerDatosPersonaResponse">
        <part name="parameters" element="tns:obtenerDatosPersonaResponse"/>
    </message>
    <message name="obtenerDatosSolicitudLugarProd">
        <part name="parameters" element="tns:obtenerDatosSolicitudLugarProd"/>
    </message>
    <message name="obtenerDatosSolicitudLugarProdResponse">
        <part name="parameters" element="tns:obtenerDatosSolicitudLugarProdResponse"/>
    </message>
    <message name="obtenerDatosProductoInspeccion">
        <part name="parameters" element="tns:obtenerDatosProductoInspeccion"/>
    </message>
    <message name="obtenerDatosProductoInspeccionResponse">
        <part name="parameters" element="tns:obtenerDatosProductoInspeccionResponse"/>
    </message>
    <message name="obtenerDatosConceptoInspeccion">
        <part name="parameters" element="tns:obtenerDatosConceptoInspeccion"/>
    </message>
    <message name="obtenerDatosConceptoInspeccionResponse">
        <part name="parameters" element="tns:obtenerDatosConceptoInspeccionResponse"/>
    </message>
    <message name="obtenerDatosLoteInspeccion">
        <part name="parameters" element="tns:obtenerDatosLoteInspeccion"/>
    </message>
    <message name="obtenerDatosLoteInspeccionResponse">
        <part name="parameters" element="tns:obtenerDatosLoteInspeccionResponse"/>
    </message>
    <message name="obtenerDatosIIVFito">
        <part name="parameters" element="tns:obtenerDatosIIVFito"/>
    </message>
    <message name="obtenerDatosIIVFitoResponse">
        <part name="parameters" element="tns:obtenerDatosIIVFitoResponse"/>
    </message>
    <message name="obtenerDatosIIVZoo">
        <part name="parameters" element="tns:obtenerDatosIIVZoo"/>
    </message>
    <message name="obtenerDatosIIVZooResponse">
        <part name="parameters" element="tns:obtenerDatosIIVZooResponse"/>
    </message>
    <message name="obtenerDatosExpoFito">
        <part name="parameters" element="tns:obtenerDatosExpoFito"/>
    </message>
    <message name="obtenerDatosExpoFitoResponse">
        <part name="parameters" element="tns:obtenerDatosExpoFitoResponse"/>
    </message>
    <message name="obtenerDatosExpoZoo">
        <part name="parameters" element="tns:obtenerDatosExpoZoo"/>
    </message>
    <message name="obtenerDatosExpoZooResponse">
        <part name="parameters" element="tns:obtenerDatosExpoZooResponse"/>
    </message>
    <message name="obtenerDatosModExpoFito">
        <part name="parameters" element="tns:obtenerDatosModExpoFito"/>
    </message>
    <message name="obtenerDatosModExpoFitoResponse">
        <part name="parameters" element="tns:obtenerDatosModExpoFitoResponse"/>
    </message>
    <message name="enviarReqPagoSuce">
        <part name="parameters" element="tns:enviarReqPagoSuce"/>
    </message>
    <message name="enviarReqPagoSuceResponse">
        <part name="parameters" element="tns:enviarReqPagoSuceResponse"/>
    </message>
    <message name="generarCFEFirmado">
        <part name="parameters" element="tns:generarCFEFirmado"/>
    </message>
    <message name="generarCFEFirmadoResponse">
        <part name="parameters" element="tns:generarCFEFirmadoResponse"/>
    </message>
    <message name="notificarProgramacionInspeccion">
        <part name="parameters" element="tns:notificarProgramacionInspeccion"/>
    </message>
    <message name="notificarProgramacionInspeccionResponse">
        <part name="parameters" element="tns:notificarProgramacionInspeccionResponse"/>
    </message>
    <message name="notificarSubsanacion">
        <part name="parameters" element="tns:notificarSubsanacion"/>
    </message>
    <message name="notificarSubsanacionResponse">
        <part name="parameters" element="tns:notificarSubsanacionResponse"/>
    </message>
    <message name="notificarPagoSuce">
        <part name="parameters" element="tns:notificarPagoSuce"/>
    </message>
    <message name="notificarPagoSuceResponse">
        <part name="parameters" element="tns:notificarPagoSuceResponse"/>
    </message>
    <message name="recepcionResultadoPagoSuce">
        <part name="parameters" element="tns:recepcionResultadoPagoSuce"/>
    </message>
    <message name="recepcionResultadoPagoSuceResponse">
        <part name="parameters" element="tns:recepcionResultadoPagoSuceResponse"/>
    </message>
    <message name="cierreTramite">
        <part name="parameters" element="tns:cierreTramite"/>
    </message>
    <message name="cierreTramiteResponse">
        <part name="parameters" element="tns:cierreTramiteResponse"/>
    </message>
    <message name="enviarNotificacion">
        <part name="parameters" element="tns:enviarNotificacion"/>
    </message>
    <message name="enviarNotificacionResponse">
        <part name="parameters" element="tns:enviarNotificacionResponse"/>
    </message>
    <message name="obtenerDatosConsultaTecnica">
        <part name="parameters" element="tns:obtenerDatosConsultaTecnica"/>
    </message>
    <message name="obtenerDatosConsultaTecnicaResponse">
        <part name="parameters" element="tns:obtenerDatosConsultaTecnicaResponse"/>
    </message>
    <message name="ingresarRespuestaConsultaTecnica">
        <part name="parameters" element="tns:ingresarRespuestaConsultaTecnica"/>
    </message>
    <message name="ingresarRespuestaConsultaTecnicaResponse">
        <part name="parameters" element="tns:ingresarRespuestaConsultaTecnicaResponse"/>
    </message>
    <portType name="GestionVUCEWS">
        <operation name="obtenerAdjuntos">
            <input message="tns:obtenerAdjuntos" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerAdjuntosRequest"/>
            <output message="tns:obtenerAdjuntosResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerAdjuntosResponse"/>
        </operation>
        <operation name="obtenerExpediente">
            <input message="tns:obtenerExpediente" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerExpedienteRequest"/>
            <output message="tns:obtenerExpedienteResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerExpedienteResponse"/>
        </operation>
        <operation name="obtenerDatosConsultaPlantaTra">
            <input message="tns:obtenerDatosConsultaPlantaTra" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosConsultaPlantaTraRequest"/>
            <output message="tns:obtenerDatosConsultaPlantaTraResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosConsultaPlantaTraResponse"/>
        </operation>
        <operation name="obtenerDatosPersona">
            <input message="tns:obtenerDatosPersona" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosPersonaRequest"/>
            <output message="tns:obtenerDatosPersonaResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosPersonaResponse"/>
        </operation>
        <operation name="obtenerDatosSolicitudLugarProd">
            <input message="tns:obtenerDatosSolicitudLugarProd" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosSolicitudLugarProdRequest"/>
            <output message="tns:obtenerDatosSolicitudLugarProdResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosSolicitudLugarProdResponse"/>
        </operation>
        <operation name="obtenerDatosProductoInspeccion">
            <input message="tns:obtenerDatosProductoInspeccion" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosProductoInspeccionRequest"/>
            <output message="tns:obtenerDatosProductoInspeccionResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosProductoInspeccionResponse"/>
        </operation>
        <operation name="obtenerDatosConceptoInspeccion">
            <input message="tns:obtenerDatosConceptoInspeccion" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosConceptoInspeccionRequest"/>
            <output message="tns:obtenerDatosConceptoInspeccionResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosConceptoInspeccionResponse"/>
        </operation>
        <operation name="obtenerDatosLoteInspeccion">
            <input message="tns:obtenerDatosLoteInspeccion" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosLoteInspeccionRequest"/>
            <output message="tns:obtenerDatosLoteInspeccionResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosLoteInspeccionResponse"/>
        </operation>
        <operation name="obtenerDatosIIVFito">
            <input message="tns:obtenerDatosIIVFito" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosIIVFitoRequest"/>
            <output message="tns:obtenerDatosIIVFitoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosIIVFitoResponse"/>
        </operation>
        <operation name="obtenerDatosIIVZoo">
            <input message="tns:obtenerDatosIIVZoo" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosIIVZooRequest"/>
            <output message="tns:obtenerDatosIIVZooResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosIIVZooResponse"/>
        </operation>
        <operation name="obtenerDatosExpoFito">
            <input message="tns:obtenerDatosExpoFito" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosExpoFitoRequest"/>
            <output message="tns:obtenerDatosExpoFitoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosExpoFitoResponse"/>
        </operation>
        <operation name="obtenerDatosExpoZoo">
            <input message="tns:obtenerDatosExpoZoo" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosExpoZooRequest"/>
            <output message="tns:obtenerDatosExpoZooResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosExpoZooResponse"/>
        </operation>
        <operation name="obtenerDatosModExpoFito">
            <input message="tns:obtenerDatosModExpoFito" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosModExpoFitoRequest"/>
            <output message="tns:obtenerDatosModExpoFitoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosModExpoFitoResponse"/>
        </operation>
        <operation name="enviarReqPagoSuce">
            <input message="tns:enviarReqPagoSuce" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/enviarReqPagoSuceRequest"/>
            <output message="tns:enviarReqPagoSuceResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/enviarReqPagoSuceResponse"/>
        </operation>
        <operation name="generarCFEFirmado">
            <input message="tns:generarCFEFirmado" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/generarCFEFirmadoRequest"/>
            <output message="tns:generarCFEFirmadoResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/generarCFEFirmadoResponse"/>
        </operation>
        <operation name="notificarProgramacionInspeccion">
            <input message="tns:notificarProgramacionInspeccion" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/notificarProgramacionInspeccionRequest"/>
            <output message="tns:notificarProgramacionInspeccionResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/notificarProgramacionInspeccionResponse"/>
        </operation>
        <operation name="notificarSubsanacion">
            <input message="tns:notificarSubsanacion" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/notificarSubsanacionRequest"/>
            <output message="tns:notificarSubsanacionResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/notificarSubsanacionResponse"/>
        </operation>
        <operation name="notificarPagoSuce">
            <input message="tns:notificarPagoSuce" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/notificarPagoSuceRequest"/>
            <output message="tns:notificarPagoSuceResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/notificarPagoSuceResponse"/>
        </operation>
        <operation name="recepcionResultadoPagoSuce">
            <input message="tns:recepcionResultadoPagoSuce" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/recepcionResultadoPagoSuceRequest"/>
            <output message="tns:recepcionResultadoPagoSuceResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/recepcionResultadoPagoSuceResponse"/>
        </operation>
        <operation name="cierreTramite">
            <input message="tns:cierreTramite" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/cierreTramiteRequest"/>
            <output message="tns:cierreTramiteResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/cierreTramiteResponse"/>
        </operation>
        <operation name="enviarNotificacion">
            <input message="tns:enviarNotificacion" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/enviarNotificacionRequest"/>
            <output message="tns:enviarNotificacionResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/enviarNotificacionResponse"/>
        </operation>
        <operation name="obtenerDatosConsultaTecnica">
            <input message="tns:obtenerDatosConsultaTecnica" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosConsultaTecnicaRequest"/>
            <output message="tns:obtenerDatosConsultaTecnicaResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/obtenerDatosConsultaTecnicaResponse"/>
        </operation>
        <operation name="ingresarRespuestaConsultaTecnica">
            <input message="tns:ingresarRespuestaConsultaTecnica" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/ingresarRespuestaConsultaTecnicaRequest"/>
            <output message="tns:ingresarRespuestaConsultaTecnicaResponse" wsam:Action="http://documentos.ws.senasa.gob.pe/GestionVUCEWS/ingresarRespuestaConsultaTecnicaResponse"/>
        </operation>
    </portType>
    <binding name="GestionVUCEWSPortBinding" type="tns:GestionVUCEWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="obtenerAdjuntos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosConsultaPlantaTra">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosPersona">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosSolicitudLugarProd">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosProductoInspeccion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosConceptoInspeccion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosLoteInspeccion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosIIVFito">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosIIVZoo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosExpoFito">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosExpoZoo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosModExpoFito">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="enviarReqPagoSuce">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarCFEFirmado">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="notificarProgramacionInspeccion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="notificarSubsanacion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="notificarPagoSuce">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="recepcionResultadoPagoSuce">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cierreTramite">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="enviarNotificacion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDatosConsultaTecnica">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ingresarRespuestaConsultaTecnica">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="GestionVUCEWSService">
        <port name="GestionVUCEWSPort" binding="tns:GestionVUCEWSPortBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/SenasaVuce/GestionVUCEPort"/>
        </port>
    </service>
</definitions>
