bpm/BpmTUPA/SOA/WSDLs/IniciarSolicitudCanalVUCE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/IniciarSolicitudCanalVUCE" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/IniciarSolicitudCanalVUCE"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/IniciarSolicitudCanalVUCE">
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="codigoServicio" type="xsd:string"/>
                        <xsd:element name="idOrdenVuce" type="xsd:string"/>
                        <xsd:element name="nroExpediente" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:portType name="IniciarSolicitudCanalVUCEPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="IniciarSolicitudCanalVUCEPortTypePartnerLinkType">
        <plnk:role name="IniciarSolicitudCanalVUCEPortTypeProvider">
            <plnk:portType name="tns:IniciarSolicitudCanalVUCEPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
