bpm/BpmTUPA/SOA/WSDLs/InspeccionPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="Inspeccion"
     targetNamespace="http://inspeccion.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://inspeccion.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://inspeccion.ws.senasa.gob.pe" schemaLocation="../Schemas/InspeccionPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="listarTipoCrianzas">
        <part name="parameters" element="tns:listarTipoCrianzas"/>
    </message>
    <message name="listarTipoCrianzasResponse">
        <part name="parameters" element="tns:listarTipoCrianzasResponse"/>
    </message>
    <message name="generarInformeInspeccionPreliminar">
        <part name="parameters" element="tns:generarInformeInspeccionPreliminar"/>
    </message>
    <message name="generarInformeInspeccionPreliminarResponse">
        <part name="parameters" element="tns:generarInformeInspeccionPreliminarResponse"/>
    </message>
    <message name="listarRazaAnimal">
        <part name="parameters" element="tns:listarRazaAnimal"/>
    </message>
    <message name="listarRazaAnimalResponse">
        <part name="parameters" element="tns:listarRazaAnimalResponse"/>
    </message>
    <message name="obtenerTipoMuestrasXClase">
        <part name="parameters" element="tns:obtenerTipoMuestrasXClase"/>
    </message>
    <message name="obtenerTipoMuestrasXClaseResponse">
        <part name="parameters" element="tns:obtenerTipoMuestrasXClaseResponse"/>
    </message>
    <message name="actualizarProductoInspeccion">
        <part name="parameters" element="tns:actualizarProductoInspeccion"/>
    </message>
    <message name="actualizarProductoInspeccionResponse">
        <part name="parameters" element="tns:actualizarProductoInspeccionResponse"/>
    </message>
    <message name="registrarLote">
        <part name="parameters" element="tns:registrarLote"/>
    </message>
    <message name="registrarLoteResponse">
        <part name="parameters" element="tns:registrarLoteResponse"/>
    </message>
    <message name="consultarLote">
        <part name="parameters" element="tns:consultarLote"/>
    </message>
    <message name="consultarLoteResponse">
        <part name="parameters" element="tns:consultarLoteResponse"/>
    </message>
    <message name="registrarConcepto">
        <part name="parameters" element="tns:registrarConcepto"/>
    </message>
    <message name="registrarConceptoResponse">
        <part name="parameters" element="tns:registrarConceptoResponse"/>
    </message>
    <message name="listarSexoAnimal">
        <part name="parameters" element="tns:listarSexoAnimal"/>
    </message>
    <message name="listarSexoAnimalResponse">
        <part name="parameters" element="tns:listarSexoAnimalResponse"/>
    </message>
    <message name="solicitudAnalisisLaboratorioVegetal">
        <part name="parameters" element="tns:solicitudAnalisisLaboratorioVegetal"/>
    </message>
    <message name="solicitudAnalisisLaboratorioVegetalResponse">
        <part name="parameters" element="tns:solicitudAnalisisLaboratorioVegetalResponse"/>
    </message>
    <message name="consultarConcepto">
        <part name="parameters" element="tns:consultarConcepto"/>
    </message>
    <message name="consultarConceptoResponse">
        <part name="parameters" element="tns:consultarConceptoResponse"/>
    </message>
    <message name="obtenerAreaLaboratorioXClase">
        <part name="parameters" element="tns:obtenerAreaLaboratorioXClase"/>
    </message>
    <message name="obtenerAreaLaboratorioXClaseResponse">
        <part name="parameters" element="tns:obtenerAreaLaboratorioXClaseResponse"/>
    </message>
    <message name="obtenerProcedenciaOrigenMuestra">
        <part name="parameters" element="tns:obtenerProcedenciaOrigenMuestra"/>
    </message>
    <message name="obtenerProcedenciaOrigenMuestraResponse">
        <part name="parameters" element="tns:obtenerProcedenciaOrigenMuestraResponse"/>
    </message>
    <message name="listaServicioAnalisisVegetal">
        <part name="parameters" element="tns:listaServicioAnalisisVegetal"/>
    </message>
    <message name="listaServicioAnalisisVegetalResponse">
        <part name="parameters" element="tns:listaServicioAnalisisVegetalResponse"/>
    </message>
    <message name="listaMotivo">
        <part name="parameters" element="tns:listaMotivo"/>
    </message>
    <message name="listaMotivoResponse">
        <part name="parameters" element="tns:listaMotivoResponse"/>
    </message>
    <message name="listaServicioAnalisisAnimal">
        <part name="parameters" element="tns:listaServicioAnalisisAnimal"/>
    </message>
    <message name="listaServicioAnalisisAnimalResponse">
        <part name="parameters" element="tns:listaServicioAnalisisAnimalResponse"/>
    </message>
    <message name="listaTipoEspecieAnimal">
        <part name="parameters" element="tns:listaTipoEspecieAnimal"/>
    </message>
    <message name="listaTipoEspecieAnimalResponse">
        <part name="parameters" element="tns:listaTipoEspecieAnimalResponse"/>
    </message>
    <message name="respuestaSolicitudAnalisisLaboratorio">
        <part name="parameters" element="tns:respuestaSolicitudAnalisisLaboratorio"/>
    </message>
    <message name="respuestaSolicitudAnalisisLaboratorioResponse">
        <part name="parameters" element="tns:respuestaSolicitudAnalisisLaboratorioResponse"/>
    </message>
    <message name="solicitudAnalisisLaboratorioAnimal">
        <part name="parameters" element="tns:solicitudAnalisisLaboratorioAnimal"/>
    </message>
    <message name="solicitudAnalisisLaboratorioAnimalResponse">
        <part name="parameters" element="tns:solicitudAnalisisLaboratorioAnimalResponse"/>
    </message>
    <message name="listarUnidadTiempo">
        <part name="parameters" element="tns:listarUnidadTiempo"/>
    </message>
    <message name="listarUnidadTiempoResponse">
        <part name="parameters" element="tns:listarUnidadTiempoResponse"/>
    </message>
    <message name="obtenerProductosInspeccionExp">
        <part name="parameters" element="tns:obtenerProductosInspeccionExp"/>
    </message>
    <message name="obtenerProductosInspeccionExpResponse">
        <part name="parameters" element="tns:obtenerProductosInspeccionExpResponse"/>
    </message>
    <message name="listarTiposRechazos">
        <part name="parameters" element="tns:listarTiposRechazos"/>
    </message>
    <message name="listarTiposRechazosResponse">
        <part name="parameters" element="tns:listarTiposRechazosResponse"/>
    </message>
    <message name="listarTipoIdentificacionAnimal">
        <part name="parameters" element="tns:listarTipoIdentificacionAnimal"/>
    </message>
    <message name="listarTipoIdentificacionAnimalResponse">
        <part name="parameters" element="tns:listarTipoIdentificacionAnimalResponse"/>
    </message>
    <portType name="Inspecccion">
        <operation name="listarTipoCrianzas">
            <input message="tns:listarTipoCrianzas" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarTipoCrianzasRequest"/>
            <output message="tns:listarTipoCrianzasResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarTipoCrianzasResponse"/>
        </operation>
        <operation name="generarInformeInspeccionPreliminar">
            <input message="tns:generarInformeInspeccionPreliminar" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/generarInformeInspeccionPreliminarRequest"/>
            <output message="tns:generarInformeInspeccionPreliminarResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/generarInformeInspeccionPreliminarResponse"/>
        </operation>
        <operation name="listarRazaAnimal">
            <input message="tns:listarRazaAnimal" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarRazaAnimalRequest"/>
            <output message="tns:listarRazaAnimalResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarRazaAnimalResponse"/>
        </operation>
        <operation name="obtenerTipoMuestrasXClase">
            <input message="tns:obtenerTipoMuestrasXClase" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/obtenerTipoMuestrasXClaseRequest"/>
            <output message="tns:obtenerTipoMuestrasXClaseResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/obtenerTipoMuestrasXClaseResponse"/>
        </operation>
        <operation name="actualizarProductoInspeccion">
            <input message="tns:actualizarProductoInspeccion" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/actualizarProductoInspeccionRequest"/>
            <output message="tns:actualizarProductoInspeccionResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/actualizarProductoInspeccionResponse"/>
        </operation>
        <operation name="registrarLote">
            <input message="tns:registrarLote" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/registrarLoteRequest"/>
            <output message="tns:registrarLoteResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/registrarLoteResponse"/>
        </operation>
        <operation name="consultarLote">
            <input message="tns:consultarLote" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/consultarLoteRequest"/>
            <output message="tns:consultarLoteResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/consultarLoteResponse"/>
        </operation>
        <operation name="registrarConcepto">
            <input message="tns:registrarConcepto" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/registrarConceptoRequest"/>
            <output message="tns:registrarConceptoResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/registrarConceptoResponse"/>
        </operation>
        <operation name="listarSexoAnimal">
            <input message="tns:listarSexoAnimal" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarSexoAnimalRequest"/>
            <output message="tns:listarSexoAnimalResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarSexoAnimalResponse"/>
        </operation>
        <operation name="solicitudAnalisisLaboratorioVegetal">
            <input message="tns:solicitudAnalisisLaboratorioVegetal" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/solicitudAnalisisLaboratorioVegetalRequest"/>
            <output message="tns:solicitudAnalisisLaboratorioVegetalResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/solicitudAnalisisLaboratorioVegetalResponse"/>
        </operation>
        <operation name="consultarConcepto">
            <input message="tns:consultarConcepto" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/consultarConceptoRequest"/>
            <output message="tns:consultarConceptoResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/consultarConceptoResponse"/>
        </operation>
        <operation name="obtenerAreaLaboratorioXClase">
            <input message="tns:obtenerAreaLaboratorioXClase" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/obtenerAreaLaboratorioXClaseRequest"/>
            <output message="tns:obtenerAreaLaboratorioXClaseResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/obtenerAreaLaboratorioXClaseResponse"/>
        </operation>
        <operation name="obtenerProcedenciaOrigenMuestra">
            <input message="tns:obtenerProcedenciaOrigenMuestra" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/obtenerProcedenciaOrigenMuestraRequest"/>
            <output message="tns:obtenerProcedenciaOrigenMuestraResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/obtenerProcedenciaOrigenMuestraResponse"/>
        </operation>
        <operation name="listaServicioAnalisisVegetal">
            <input message="tns:listaServicioAnalisisVegetal" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listaServicioAnalisisVegetalRequest"/>
            <output message="tns:listaServicioAnalisisVegetalResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listaServicioAnalisisVegetalResponse"/>
        </operation>
        <operation name="listaMotivo">
            <input message="tns:listaMotivo" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listaMotivoRequest"/>
            <output message="tns:listaMotivoResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listaMotivoResponse"/>
        </operation>
        <operation name="listaServicioAnalisisAnimal">
            <input message="tns:listaServicioAnalisisAnimal" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listaServicioAnalisisAnimalRequest"/>
            <output message="tns:listaServicioAnalisisAnimalResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listaServicioAnalisisAnimalResponse"/>
        </operation>
        <operation name="listaTipoEspecieAnimal">
            <input message="tns:listaTipoEspecieAnimal" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listaTipoEspecieAnimalRequest"/>
            <output message="tns:listaTipoEspecieAnimalResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listaTipoEspecieAnimalResponse"/>
        </operation>
        <operation name="respuestaSolicitudAnalisisLaboratorio">
            <input message="tns:respuestaSolicitudAnalisisLaboratorio" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/respuestaSolicitudAnalisisLaboratorioRequest"/>
            <output message="tns:respuestaSolicitudAnalisisLaboratorioResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/respuestaSolicitudAnalisisLaboratorioResponse"/>
        </operation>
        <operation name="solicitudAnalisisLaboratorioAnimal">
            <input message="tns:solicitudAnalisisLaboratorioAnimal" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/solicitudAnalisisLaboratorioAnimalRequest"/>
            <output message="tns:solicitudAnalisisLaboratorioAnimalResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/solicitudAnalisisLaboratorioAnimalResponse"/>
        </operation>
        <operation name="listarUnidadTiempo">
            <input message="tns:listarUnidadTiempo" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarUnidadTiempoRequest"/>
            <output message="tns:listarUnidadTiempoResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarUnidadTiempoResponse"/>
        </operation>
        <operation name="obtenerProductosInspeccionExp">
            <input message="tns:obtenerProductosInspeccionExp" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/obtenerProductosInspeccionExpRequest"/>
            <output message="tns:obtenerProductosInspeccionExpResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/obtenerProductosInspeccionExpResponse"/>
        </operation>
        <operation name="listarTiposRechazos">
            <input message="tns:listarTiposRechazos" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarTiposRechazosRequest"/>
            <output message="tns:listarTiposRechazosResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarTiposRechazosResponse"/>
        </operation>
        <operation name="listarTipoIdentificacionAnimal">
            <input message="tns:listarTipoIdentificacionAnimal" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarTipoIdentificacionAnimalRequest"/>
            <output message="tns:listarTipoIdentificacionAnimalResponse" wsam:Action="http://inspeccion.ws.senasa.gob.pe/Inspecccion/listarTipoIdentificacionAnimalResponse"/>
        </operation>
    </portType>
    <binding name="InspeccionPortBinding" type="tns:Inspecccion">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listarTipoCrianzas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarInformeInspeccionPreliminar">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listarRazaAnimal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerTipoMuestrasXClase">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="actualizarProductoInspeccion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarLote">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultarLote">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarConcepto">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listarSexoAnimal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="solicitudAnalisisLaboratorioVegetal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultarConcepto">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerAreaLaboratorioXClase">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerProcedenciaOrigenMuestra">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listaServicioAnalisisVegetal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listaMotivo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listaServicioAnalisisAnimal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listaTipoEspecieAnimal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="respuestaSolicitudAnalisisLaboratorio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="solicitudAnalisisLaboratorioAnimal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listarUnidadTiempo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerProductosInspeccionExp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listarTiposRechazos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listarTipoIdentificacionAnimal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Inspeccion">
        <port name="InspeccionPort" binding="tns:InspeccionPortBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/senasaws/InspeccionPort"/>
        </port>
    </service>
</definitions>
