bpm/BpmTUPA/SOA/WSDLs/PagosPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="Pagos"
     targetNamespace="http://pagos.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://pagos.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://pagos.ws.senasa.gob.pe" schemaLocation="../Schemas/PagosPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="guardarReciboPago">
        <part name="parameters" element="tns:guardarReciboPago"/>
    </message>
    <message name="guardarReciboPagoResponse">
        <part name="parameters" element="tns:guardarReciboPagoResponse"/>
    </message>
    <message name="generarReciboPago">
        <part name="parameters" element="tns:generarReciboPago"/>
    </message>
    <message name="generarReciboPagoResponse">
        <part name="parameters" element="tns:generarReciboPagoResponse"/>
    </message>
    <message name="actualizarRecibo">
        <part name="parameters" element="tns:actualizarRecibo"/>
    </message>
    <message name="actualizarReciboResponse">
        <part name="parameters" element="tns:actualizarReciboResponse"/>
    </message>
    <message name="obtenerTipoPagos">
        <part name="parameters" element="tns:obtenerTipoPagos"/>
    </message>
    <message name="obtenerTipoPagosResponse">
        <part name="parameters" element="tns:obtenerTipoPagosResponse"/>
    </message>
    <message name="registrarPago">
        <part name="parameters" element="tns:registrarPago"/>
    </message>
    <message name="registrarPagoResponse">
        <part name="parameters" element="tns:registrarPagoResponse"/>
    </message>
    <message name="obtenerTarifario">
        <part name="parameters" element="tns:obtenerTarifario"/>
    </message>
    <message name="obtenerTarifarioResponse">
        <part name="parameters" element="tns:obtenerTarifarioResponse"/>
    </message>
    <message name="obtenerRecibo">
        <part name="parameters" element="tns:obtenerRecibo"/>
    </message>
    <message name="obtenerReciboResponse">
        <part name="parameters" element="tns:obtenerReciboResponse"/>
    </message>
    <message name="existeNumeroBoleta">
        <part name="parameters" element="tns:existeNumeroBoleta"/>
    </message>
    <message name="existeNumeroBoletaResponse">
        <part name="parameters" element="tns:existeNumeroBoletaResponse"/>
    </message>
    <message name="obtenerReciboVUCE">
        <part name="parameters" element="tns:obtenerReciboVUCE"/>
    </message>
    <message name="obtenerReciboVUCEResponse">
        <part name="parameters" element="tns:obtenerReciboVUCEResponse"/>
    </message>
    <portType name="Pagos">
        <operation name="guardarReciboPago">
            <input message="tns:guardarReciboPago" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/guardarReciboPagoRequest"/>
            <output message="tns:guardarReciboPagoResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/guardarReciboPagoResponse"/>
        </operation>
        <operation name="generarReciboPago">
            <input message="tns:generarReciboPago" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/generarReciboPagoRequest"/>
            <output message="tns:generarReciboPagoResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/generarReciboPagoResponse"/>
        </operation>
        <operation name="actualizarRecibo">
            <input message="tns:actualizarRecibo" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/actualizarReciboRequest"/>
            <output message="tns:actualizarReciboResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/actualizarReciboResponse"/>
        </operation>
        <operation name="obtenerTipoPagos">
            <input message="tns:obtenerTipoPagos" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/obtenerTipoPagosRequest"/>
            <output message="tns:obtenerTipoPagosResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/obtenerTipoPagosResponse"/>
        </operation>
        <operation name="registrarPago">
            <input message="tns:registrarPago" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/registrarPagoRequest"/>
            <output message="tns:registrarPagoResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/registrarPagoResponse"/>
        </operation>
        <operation name="obtenerTarifario">
            <input message="tns:obtenerTarifario" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/obtenerTarifarioRequest"/>
            <output message="tns:obtenerTarifarioResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/obtenerTarifarioResponse"/>
        </operation>
        <operation name="obtenerRecibo">
            <input message="tns:obtenerRecibo" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/obtenerReciboRequest"/>
            <output message="tns:obtenerReciboResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/obtenerReciboResponse"/>
        </operation>
        <operation name="existeNumeroBoleta">
            <input message="tns:existeNumeroBoleta" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/existeNumeroBoletaRequest"/>
            <output message="tns:existeNumeroBoletaResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/existeNumeroBoletaResponse"/>
        </operation>
        <operation name="obtenerReciboVUCE">
            <input message="tns:obtenerReciboVUCE" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/obtenerReciboVUCERequest"/>
            <output message="tns:obtenerReciboVUCEResponse" wsam:Action="http://pagos.ws.senasa.gob.pe/Pagos/obtenerReciboVUCEResponse"/>
        </operation>
    </portType>
    <binding name="PagosPortBinding" type="tns:Pagos">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="guardarReciboPago">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="generarReciboPago">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="actualizarRecibo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerTipoPagos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarPago">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerTarifario">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerRecibo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="existeNumeroBoleta">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerReciboVUCE">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Pagos">
        <port name="PagosPort" binding="tns:PagosPortBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/senasaws/PagosPort"/>
        </port>
    </service>
</definitions>
