bpm/BpmTUPA/SOA/WSDLs/ServicioTUPAPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions
     name="ServicioTUPA"
     targetNamespace="http://serviciotupa.ws.senasa.gob.pe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://serviciotupa.ws.senasa.gob.pe"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://serviciotupa.ws.senasa.gob.pe" schemaLocation="../Schemas/ServicioTUPAPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="obtenerListaVacunas">
        <part name="parameters" element="tns:obtenerListaVacunas"/>
    </message>
    <message name="obtenerListaVacunasResponse">
        <part name="parameters" element="tns:obtenerListaVacunasResponse"/>
    </message>
    <message name="obtenerExpediente">
        <part name="parameters" element="tns:obtenerExpediente"/>
    </message>
    <message name="obtenerExpedienteResponse">
        <part name="parameters" element="tns:obtenerExpedienteResponse"/>
    </message>
    <message name="anularExpediente">
        <part name="parameters" element="tns:anularExpediente"/>
    </message>
    <message name="anularExpedienteResponse">
        <part name="parameters" element="tns:anularExpedienteResponse"/>
    </message>
    <message name="obtenerPuntosIngreso">
        <part name="parameters" element="tns:obtenerPuntosIngreso"/>
    </message>
    <message name="obtenerPuntosIngresoResponse">
        <part name="parameters" element="tns:obtenerPuntosIngresoResponse"/>
    </message>
    <message name="obtenerOperLogisticoJuridica">
        <part name="parameters" element="tns:obtenerOperLogisticoJuridica"/>
    </message>
    <message name="obtenerOperLogisticoJuridicaResponse">
        <part name="parameters" element="tns:obtenerOperLogisticoJuridicaResponse"/>
    </message>
    <message name="obtenerClaseExpServicio">
        <part name="parameters" element="tns:obtenerClaseExpServicio"/>
    </message>
    <message name="obtenerClaseExpServicioResponse">
        <part name="parameters" element="tns:obtenerClaseExpServicioResponse"/>
    </message>
    <message name="obtenerServiciosXClase">
        <part name="parameters" element="tns:obtenerServiciosXClase"/>
    </message>
    <message name="obtenerServiciosXClaseResponse">
        <part name="parameters" element="tns:obtenerServiciosXClaseResponse"/>
    </message>
    <message name="obtenerInspeccionesExpediente">
        <part name="parameters" element="tns:obtenerInspeccionesExpediente"/>
    </message>
    <message name="obtenerInspeccionesExpedienteResponse">
        <part name="parameters" element="tns:obtenerInspeccionesExpedienteResponse"/>
    </message>
    <message name="obtenerTipoServicioExpediente">
        <part name="parameters" element="tns:obtenerTipoServicioExpediente"/>
    </message>
    <message name="obtenerTipoServicioExpedienteResponse">
        <part name="parameters" element="tns:obtenerTipoServicioExpedienteResponse"/>
    </message>
    <message name="obtenerProductosExp">
        <part name="parameters" element="tns:obtenerProductosExp"/>
    </message>
    <message name="obtenerProductosExpResponse">
        <part name="parameters" element="tns:obtenerProductosExpResponse"/>
    </message>
    <message name="obtenerProductosInspeccion">
        <part name="parameters" element="tns:obtenerProductosInspeccion"/>
    </message>
    <message name="obtenerProductosInspeccionResponse">
        <part name="parameters" element="tns:obtenerProductosInspeccionResponse"/>
    </message>
    <message name="obtenerOperador">
        <part name="parameters" element="tns:obtenerOperador"/>
    </message>
    <message name="obtenerOperadorResponse">
        <part name="parameters" element="tns:obtenerOperadorResponse"/>
    </message>
    <message name="obtenerListaAnalisis">
        <part name="parameters" element="tns:obtenerListaAnalisis"/>
    </message>
    <message name="obtenerListaAnalisisResponse">
        <part name="parameters" element="tns:obtenerListaAnalisisResponse"/>
    </message>
    <message name="obtenerSolicitanteExp">
        <part name="parameters" element="tns:obtenerSolicitanteExp"/>
    </message>
    <message name="obtenerSolicitanteExpResponse">
        <part name="parameters" element="tns:obtenerSolicitanteExpResponse"/>
    </message>
    <message name="obtenerServiciosExpediente">
        <part name="parameters" element="tns:obtenerServiciosExpediente"/>
    </message>
    <message name="obtenerServiciosExpedienteResponse">
        <part name="parameters" element="tns:obtenerServiciosExpedienteResponse"/>
    </message>
    <message name="anularServicioExpediente">
        <part name="parameters" element="tns:anularServicioExpediente"/>
    </message>
    <message name="anularServicioExpedienteResponse">
        <part name="parameters" element="tns:anularServicioExpedienteResponse"/>
    </message>
    <message name="obtenerListaRecibos">
        <part name="parameters" element="tns:obtenerListaRecibos"/>
    </message>
    <message name="obtenerListaRecibosResponse">
        <part name="parameters" element="tns:obtenerListaRecibosResponse"/>
    </message>
    <message name="anularBoletas">
        <part name="parameters" element="tns:anularBoletas"/>
    </message>
    <message name="anularBoletasResponse">
        <part name="parameters" element="tns:anularBoletasResponse"/>
    </message>
    <message name="obtenerInformacionServicioTupa">
        <part name="parameters" element="tns:obtenerInformacionServicioTupa"/>
    </message>
    <message name="obtenerInformacionServicioTupaResponse">
        <part name="parameters" element="tns:obtenerInformacionServicioTupaResponse"/>
    </message>
    <message name="obtenerNumeroCertificado">
        <part name="parameters" element="tns:obtenerNumeroCertificado"/>
    </message>
    <message name="obtenerNumeroCertificadoResponse">
        <part name="parameters" element="tns:obtenerNumeroCertificadoResponse"/>
    </message>
    <message name="obtenerServicio">
        <part name="parameters" element="tns:obtenerServicio"/>
    </message>
    <message name="obtenerServicioResponse">
        <part name="parameters" element="tns:obtenerServicioResponse"/>
    </message>
    <message name="obtenerDescripcionServicio">
        <part name="parameters" element="tns:obtenerDescripcionServicio"/>
    </message>
    <message name="obtenerDescripcionServicioResponse">
        <part name="parameters" element="tns:obtenerDescripcionServicioResponse"/>
    </message>
    <message name="servicioTupaCobrarPorProducto">
        <part name="parameters" element="tns:servicioTupaCobrarPorProducto"/>
    </message>
    <message name="servicioTupaCobrarPorProductoResponse">
        <part name="parameters" element="tns:servicioTupaCobrarPorProductoResponse"/>
    </message>
    <message name="obtenerAreasGestion">
        <part name="parameters" element="tns:obtenerAreasGestion"/>
    </message>
    <message name="obtenerAreasGestionResponse">
        <part name="parameters" element="tns:obtenerAreasGestionResponse"/>
    </message>
    <message name="obtenerCentrosTramite">
        <part name="parameters" element="tns:obtenerCentrosTramite"/>
    </message>
    <message name="obtenerCentrosTramiteResponse">
        <part name="parameters" element="tns:obtenerCentrosTramiteResponse"/>
    </message>
    <message name="obtenerCentrosTramitePorDepartamento">
        <part name="parameters" element="tns:obtenerCentrosTramitePorDepartamento"/>
    </message>
    <message name="obtenerCentrosTramitePorDepartamentoResponse">
        <part name="parameters" element="tns:obtenerCentrosTramitePorDepartamentoResponse"/>
    </message>
    <message name="obtenerServicioXCentroTramite">
        <part name="parameters" element="tns:obtenerServicioXCentroTramite"/>
    </message>
    <message name="obtenerServicioXCentroTramiteResponse">
        <part name="parameters" element="tns:obtenerServicioXCentroTramiteResponse"/>
    </message>
    <message name="obtenerRequisitoXServicio">
        <part name="parameters" element="tns:obtenerRequisitoXServicio"/>
    </message>
    <message name="obtenerRequisitoXServicioResponse">
        <part name="parameters" element="tns:obtenerRequisitoXServicioResponse"/>
    </message>
    <message name="obtenerExpedientePersonaNatural">
        <part name="parameters" element="tns:obtenerExpedientePersonaNatural"/>
    </message>
    <message name="obtenerExpedientePersonaNaturalResponse">
        <part name="parameters" element="tns:obtenerExpedientePersonaNaturalResponse"/>
    </message>
    <message name="obtenerExpedientePersonaJuridica">
        <part name="parameters" element="tns:obtenerExpedientePersonaJuridica"/>
    </message>
    <message name="obtenerExpedientePersonaJuridicaResponse">
        <part name="parameters" element="tns:obtenerExpedientePersonaJuridicaResponse"/>
    </message>
    <message name="obtenerOperLogisticoNatural">
        <part name="parameters" element="tns:obtenerOperLogisticoNatural"/>
    </message>
    <message name="obtenerOperLogisticoNaturalResponse">
        <part name="parameters" element="tns:obtenerOperLogisticoNaturalResponse"/>
    </message>
    <message name="obtenerServiciosTupa">
        <part name="parameters" element="tns:obtenerServiciosTupa"/>
    </message>
    <message name="obtenerServiciosTupaResponse">
        <part name="parameters" element="tns:obtenerServiciosTupaResponse"/>
    </message>
    <message name="obtenerNumeroExpediente">
        <part name="parameters" element="tns:obtenerNumeroExpediente"/>
    </message>
    <message name="obtenerNumeroExpedienteResponse">
        <part name="parameters" element="tns:obtenerNumeroExpedienteResponse"/>
    </message>
    <portType name="ServicioTUPA">
        <operation name="obtenerListaVacunas">
            <input message="tns:obtenerListaVacunas" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerListaVacunasRequest"/>
            <output message="tns:obtenerListaVacunasResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerListaVacunasResponse"/>
        </operation>
        <operation name="obtenerExpediente">
            <input message="tns:obtenerExpediente" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerExpedienteRequest"/>
            <output message="tns:obtenerExpedienteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerExpedienteResponse"/>
        </operation>
        <operation name="anularExpediente">
            <input message="tns:anularExpediente" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/anularExpedienteRequest"/>
            <output message="tns:anularExpedienteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/anularExpedienteResponse"/>
        </operation>
        <operation name="obtenerPuntosIngreso">
            <input message="tns:obtenerPuntosIngreso" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerPuntosIngresoRequest"/>
            <output message="tns:obtenerPuntosIngresoResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerPuntosIngresoResponse"/>
        </operation>
        <operation name="obtenerOperLogisticoJuridica">
            <input message="tns:obtenerOperLogisticoJuridica" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerOperLogisticoJuridicaRequest"/>
            <output message="tns:obtenerOperLogisticoJuridicaResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerOperLogisticoJuridicaResponse"/>
        </operation>
        <operation name="obtenerClaseExpServicio">
            <input message="tns:obtenerClaseExpServicio" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerClaseExpServicioRequest"/>
            <output message="tns:obtenerClaseExpServicioResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerClaseExpServicioResponse"/>
        </operation>
        <operation name="obtenerServiciosXClase">
            <input message="tns:obtenerServiciosXClase" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServiciosXClaseRequest"/>
            <output message="tns:obtenerServiciosXClaseResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServiciosXClaseResponse"/>
        </operation>
        <operation name="obtenerInspeccionesExpediente">
            <input message="tns:obtenerInspeccionesExpediente" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerInspeccionesExpedienteRequest"/>
            <output message="tns:obtenerInspeccionesExpedienteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerInspeccionesExpedienteResponse"/>
        </operation>
        <operation name="obtenerTipoServicioExpediente">
            <input message="tns:obtenerTipoServicioExpediente" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerTipoServicioExpedienteRequest"/>
            <output message="tns:obtenerTipoServicioExpedienteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerTipoServicioExpedienteResponse"/>
        </operation>
        <operation name="obtenerProductosExp">
            <input message="tns:obtenerProductosExp" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerProductosExpRequest"/>
            <output message="tns:obtenerProductosExpResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerProductosExpResponse"/>
        </operation>
        <operation name="obtenerProductosInspeccion">
            <input message="tns:obtenerProductosInspeccion" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerProductosInspeccionRequest"/>
            <output message="tns:obtenerProductosInspeccionResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerProductosInspeccionResponse"/>
        </operation>
        <operation name="obtenerOperador">
            <input message="tns:obtenerOperador" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerOperadorRequest"/>
            <output message="tns:obtenerOperadorResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerOperadorResponse"/>
        </operation>
        <operation name="obtenerListaAnalisis">
            <input message="tns:obtenerListaAnalisis" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerListaAnalisisRequest"/>
            <output message="tns:obtenerListaAnalisisResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerListaAnalisisResponse"/>
        </operation>
        <operation name="obtenerSolicitanteExp">
            <input message="tns:obtenerSolicitanteExp" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerSolicitanteExpRequest"/>
            <output message="tns:obtenerSolicitanteExpResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerSolicitanteExpResponse"/>
        </operation>
        <operation name="obtenerServiciosExpediente">
            <input message="tns:obtenerServiciosExpediente" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServiciosExpedienteRequest"/>
            <output message="tns:obtenerServiciosExpedienteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServiciosExpedienteResponse"/>
        </operation>
        <operation name="anularServicioExpediente">
            <input message="tns:anularServicioExpediente" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/anularServicioExpedienteRequest"/>
            <output message="tns:anularServicioExpedienteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/anularServicioExpedienteResponse"/>
        </operation>
        <operation name="obtenerListaRecibos">
            <input message="tns:obtenerListaRecibos" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerListaRecibosRequest"/>
            <output message="tns:obtenerListaRecibosResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerListaRecibosResponse"/>
        </operation>
        <operation name="anularBoletas">
            <input message="tns:anularBoletas" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/anularBoletasRequest"/>
            <output message="tns:anularBoletasResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/anularBoletasResponse"/>
        </operation>
        <operation name="obtenerInformacionServicioTupa">
            <input message="tns:obtenerInformacionServicioTupa" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerInformacionServicioTupaRequest"/>
            <output message="tns:obtenerInformacionServicioTupaResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerInformacionServicioTupaResponse"/>
        </operation>
        <operation name="obtenerNumeroCertificado">
            <input message="tns:obtenerNumeroCertificado" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerNumeroCertificadoRequest"/>
            <output message="tns:obtenerNumeroCertificadoResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerNumeroCertificadoResponse"/>
        </operation>
        <operation name="obtenerServicio">
            <input message="tns:obtenerServicio" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServicioRequest"/>
            <output message="tns:obtenerServicioResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServicioResponse"/>
        </operation>
        <operation name="obtenerDescripcionServicio">
            <input message="tns:obtenerDescripcionServicio" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerDescripcionServicioRequest"/>
            <output message="tns:obtenerDescripcionServicioResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerDescripcionServicioResponse"/>
        </operation>
        <operation name="servicioTupaCobrarPorProducto">
            <input message="tns:servicioTupaCobrarPorProducto" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/servicioTupaCobrarPorProductoRequest"/>
            <output message="tns:servicioTupaCobrarPorProductoResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/servicioTupaCobrarPorProductoResponse"/>
        </operation>
        <operation name="obtenerAreasGestion">
            <input message="tns:obtenerAreasGestion" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerAreasGestionRequest"/>
            <output message="tns:obtenerAreasGestionResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerAreasGestionResponse"/>
        </operation>
        <operation name="obtenerCentrosTramite">
            <input message="tns:obtenerCentrosTramite" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerCentrosTramiteRequest"/>
            <output message="tns:obtenerCentrosTramiteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerCentrosTramiteResponse"/>
        </operation>
        <operation name="obtenerCentrosTramitePorDepartamento">
            <input message="tns:obtenerCentrosTramitePorDepartamento" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerCentrosTramitePorDepartamentoRequest"/>
            <output message="tns:obtenerCentrosTramitePorDepartamentoResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerCentrosTramitePorDepartamentoResponse"/>
        </operation>
        <operation name="obtenerServicioXCentroTramite">
            <input message="tns:obtenerServicioXCentroTramite" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServicioXCentroTramiteRequest"/>
            <output message="tns:obtenerServicioXCentroTramiteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServicioXCentroTramiteResponse"/>
        </operation>
        <operation name="obtenerRequisitoXServicio">
            <input message="tns:obtenerRequisitoXServicio" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerRequisitoXServicioRequest"/>
            <output message="tns:obtenerRequisitoXServicioResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerRequisitoXServicioResponse"/>
        </operation>
        <operation name="obtenerExpedientePersonaNatural">
            <input message="tns:obtenerExpedientePersonaNatural" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerExpedientePersonaNaturalRequest"/>
            <output message="tns:obtenerExpedientePersonaNaturalResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerExpedientePersonaNaturalResponse"/>
        </operation>
        <operation name="obtenerExpedientePersonaJuridica">
            <input message="tns:obtenerExpedientePersonaJuridica" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerExpedientePersonaJuridicaRequest"/>
            <output message="tns:obtenerExpedientePersonaJuridicaResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerExpedientePersonaJuridicaResponse"/>
        </operation>
        <operation name="obtenerOperLogisticoNatural">
            <input message="tns:obtenerOperLogisticoNatural" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerOperLogisticoNaturalRequest"/>
            <output message="tns:obtenerOperLogisticoNaturalResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerOperLogisticoNaturalResponse"/>
        </operation>
        <operation name="obtenerServiciosTupa">
            <input message="tns:obtenerServiciosTupa" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServiciosTupaRequest"/>
            <output message="tns:obtenerServiciosTupaResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerServiciosTupaResponse"/>
        </operation>
        <operation name="obtenerNumeroExpediente">
            <input message="tns:obtenerNumeroExpediente" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerNumeroExpedienteRequest"/>
            <output message="tns:obtenerNumeroExpedienteResponse" wsam:Action="http://serviciotupa.ws.senasa.gob.pe/ServicioTUPA/obtenerNumeroExpedienteResponse"/>
        </operation>
    </portType>
    <binding name="ServicioTUPAPortBinding" type="tns:ServicioTUPA">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="obtenerListaVacunas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="anularExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerPuntosIngreso">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerOperLogisticoJuridica">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerClaseExpServicio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerServiciosXClase">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerInspeccionesExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerTipoServicioExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerProductosExp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerProductosInspeccion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerOperador">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerListaAnalisis">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerSolicitanteExp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerServiciosExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="anularServicioExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerListaRecibos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="anularBoletas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerInformacionServicioTupa">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerNumeroCertificado">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerServicio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerDescripcionServicio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="servicioTupaCobrarPorProducto">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerAreasGestion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerCentrosTramite">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerCentrosTramitePorDepartamento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerServicioXCentroTramite">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerRequisitoXServicio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerExpedientePersonaNatural">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerExpedientePersonaJuridica">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerOperLogisticoNatural">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerServiciosTupa">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="obtenerNumeroExpediente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ServicioTUPA">
        <port name="ServicioTUPAPort" binding="tns:ServicioTUPAPortBinding">
            <soap:address location="http://srvvldsoabpm.senasa.gob.pe:7051/senasaws/ServicioTUPAPort"/>
        </port>
    </service>
</definitions>
