bpm/BpmTUPA/SOA/Schemas/ServicioTUPAPort_xsd_1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:ns0="http://serviciotupa.ws.senasa.gob.pe" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="http://serviciotupa.ws.senasa.gob.pe">
    <xsd:complexType name="anularBoletas">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="anularBoletasResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="anularExpediente">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="anularExpedienteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="anularServicioExpediente">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="anularServicioExpedienteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerAreasGestion"/>
    <xsd:complexType name="obtenerAreasGestionResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:areaGestion" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerCentrosTramite"/>
    <xsd:complexType name="obtenerCentrosTramitePorDepartamento">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerCentrosTramitePorDepartamentoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:centroTramite" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerCentrosTramiteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:centroTramite" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerClaseExpServicio">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerClaseExpServicioResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerDescripcionServicio">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerDescripcionServicioResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerExpediente">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerExpedientePersonaJuridica">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerExpedientePersonaJuridicaResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:expPersonaJuridica" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerExpedientePersonaNatural">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerExpedientePersonaNaturalResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:expPersonaNatural" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerExpedienteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:expediente" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerInformacionServicioTupa">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerInformacionServicioTupaResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:servicioTUPA" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerInspeccionesExpediente">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerInspeccionesExpedienteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerListaAnalisis"/>
    <xsd:complexType name="obtenerListaAnalisisResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:analisis" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerListaRecibos">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerListaRecibosResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:recibo" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerListaVacunas"/>
    <xsd:complexType name="obtenerListaVacunasResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:vacuna" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerNumeroCertificado">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerNumeroCertificadoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerNumeroExpediente">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerNumeroExpedienteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerOperLogisticoJuridica"/>
    <xsd:complexType name="obtenerOperLogisticoJuridicaResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:operLogisticoJuridica" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerOperLogisticoNatural"/>
    <xsd:complexType name="obtenerOperLogisticoNaturalResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:operLogisticoNatural" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerOperador">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerOperadorResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:operador" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerProductosExp">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerProductosExpResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:producto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerProductosInspeccion">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerProductosInspeccionResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:producto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerPuntosIngreso">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerPuntosIngresoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:sede" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerRequisitoXServicio">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerRequisitoXServicioResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:requisitoServicio" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServicio">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServicioResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServicioXCentroTramite">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServicioXCentroTramiteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:servicioTUPA" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServiciosExpediente">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServiciosExpedienteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:servicioTUPA" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServiciosTupa"/>
    <xsd:complexType name="obtenerServiciosTupaResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:servicioTUPA" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServiciosXClase">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerServiciosXClaseResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:servicioClase" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerSolicitanteExp">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerSolicitanteExpResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:solicitante" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerTipoServicioExpediente">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="obtenerTipoServicioExpedienteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="servicioTupaCobrarPorProducto">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="servicioTupaCobrarPorProductoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaGestion">
        <xsd:sequence>
            <xsd:element name="codigoAreaGestion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoClase" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreAreaGestion" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="centroTramite">
        <xsd:sequence>
            <xsd:element name="centroTramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoCentroTramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="expPersonaJuridica">
        <xsd:sequence>
            <xsd:element name="nombreRazonSocial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="personaTipo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ruc" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="expPersonaNatural">
        <xsd:sequence>
            <xsd:element name="documentoNumero" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreRazonSocial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="personaTipo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="expediente">
        <xsd:sequence>
            <xsd:element name="clase" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoCentroTramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoExpediente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoServicio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoSolicitud" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fechaRegistro" type="xsd:string" minOccurs="0"/>
            <xsd:element name="observacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="personaId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="servicioTUPA">
        <xsd:sequence>
            <xsd:element name="codServicioTupa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoCentroTramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoClase" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoExpediente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoSolicitud" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionCentroTramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="flagImpoExpo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="indicadorCobroPorProducto" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreServicioTupa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="plazo" type="xsd:float"/>
            <xsd:element name="valorServicioTupa" type="xsd:float"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="analisis">
        <xsd:sequence>
            <xsd:element name="codigoAnalisis" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionAnalisis" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="recibo">
        <xsd:sequence>
            <xsd:element name="SFechaRecibo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoCentroTramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoExpediente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoRecibo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoSolicitud" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dniRuc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fechaRecibo" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="metadatos" type="ns0:propiedad" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="montoPagado" type="xsd:double" minOccurs="0"/>
            <xsd:element name="montoRecibo" type="xsd:double" minOccurs="0"/>
            <xsd:element name="montoSaldo" type="xsd:double" minOccurs="0"/>
            <xsd:element name="numeroRecibo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="observacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="personaId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="prefijo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="reciboServicio" type="ns0:reciboServicio" minOccurs="0" maxOccurs="unbounded"
                 nillable="true"/>
            <xsd:element name="urlRecibo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="propiedad">
        <xsd:sequence>
            <xsd:element name="XPropiedad" type="xsd:string" minOccurs="0"/>
            <xsd:element name="XValor" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="reciboServicio">
        <xsd:sequence>
            <xsd:element name="cantidad" type="xsd:double" minOccurs="0"/>
            <xsd:element name="codigoRecibo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoServicio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="montoServicio" type="xsd:double" minOccurs="0"/>
            <xsd:element name="nombreServicio" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="vacuna">
        <xsd:sequence>
            <xsd:element name="codigoVacuna" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionVacuna" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="operLogisticoJuridica">
        <xsd:sequence>
            <xsd:element name="nombreRazonSocial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="personaTipo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ruc" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="operLogisticoNatural">
        <xsd:sequence>
            <xsd:element name="documentoNumero" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreRazonSocial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="personaTipo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="operador">
        <xsd:sequence>
            <xsd:element name="apeMat" type="xsd:string" minOccurs="0"/>
            <xsd:element name="apePat" type="xsd:string" minOccurs="0"/>
            <xsd:element name="centroPobladoId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="correo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="distritoId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="distritoNombre" type="xsd:string" minOccurs="0"/>
            <xsd:element name="documentoNumero" type="xsd:string" minOccurs="0"/>
            <xsd:element name="documentoTipo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dptoId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dptoNombre" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreRazonSocial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombres" type="xsd:string" minOccurs="0"/>
            <xsd:element name="personaId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="personaTipo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="provinciaId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="provinciaNombre" type="xsd:string" minOccurs="0"/>
            <xsd:element name="telefono" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="producto">
        <xsd:sequence>
            <xsd:element name="cantidadPesoAprobado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cantidadPesoSolicitado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="categoriaRiesgo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="claseProducto" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoAplicacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoCentroTramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoClase" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoLugarInspeccion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoPadre" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoProducto" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoTipoEnvase" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoUnidadMedida" type="xsd:string" minOccurs="0"/>
            <xsd:element name="contieneAnexos" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionAplicacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionPadre" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionUnidadMedida" type="xsd:string" minOccurs="0"/>
            <xsd:element name="esAnimalVivo" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="indicadorCuarentena" type="xsd:boolean"/>
            <xsd:element name="indicadorGCustodia" type="xsd:boolean"/>
            <xsd:element name="indicadorGermoplasma" type="xsd:boolean"/>
            <xsd:element name="nombreCentroTramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreCientifico" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreCientificoPadre" type="xsd:string" minOccurs="0"/>
            <xsd:element name="partidaArancelaria" type="xsd:string" minOccurs="0"/>
            <xsd:element name="partidaArancelariaPadre" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sede">
        <xsd:sequence>
            <xsd:element name="codSede" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descSede" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descTipoSede" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="requisitoServicio">
        <xsd:sequence>
            <xsd:element name="codigoDocumento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoServicio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionDocumento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionServicio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="indObligatorio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="indPredio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="requisitoAdicional" type="ns0:requisitoAdicional" minOccurs="0"/>
            <xsd:element name="rutaCheckIn" type="xsd:string" minOccurs="0"/>
            <xsd:element name="subTipo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="requisitoAdicional">
        <xsd:sequence>
            <xsd:element name="lstAdicional" type="ns0:adicional" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="adicional">
        <xsd:sequence>
            <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
            <xsd:element name="numeroRegistro" type="xsd:string" minOccurs="0"/>
            <xsd:element name="secuencial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ubigeo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="servicioClase">
        <xsd:sequence>
            <xsd:element name="codigoClase" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codigoServicio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionServicio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="indCobroXProducto" type="xsd:string" minOccurs="0"/>
            <xsd:element name="indServicioSecundario" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="solicitante">
        <xsd:sequence>
            <xsd:element name="codigoSolicitante" type="xsd:string" minOccurs="0"/>
            <xsd:element name="departamento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="distrito" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dniRepresentanteLegal" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dniRuc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="domicilioLegal" type="xsd:string" minOccurs="0"/>
            <xsd:element name="email" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreDepartamento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreDistrito" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreImportador" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreProvincia" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreRazonSocial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreRepresentanteLegal" type="xsd:string" minOccurs="0"/>
            <xsd:element name="provincia" type="xsd:string" minOccurs="0"/>
            <xsd:element name="telefono" type="xsd:string" minOccurs="0"/>
            <xsd:element name="telefonoMovil" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipoDocumento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipoSolicitante" type="xsd:string" minOccurs="0"/>
            <xsd:element name="urbanizacion" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="anularBoletas" type="ns0:anularBoletas"/>
    <xsd:element name="anularBoletasResponse" type="ns0:anularBoletasResponse"/>
    <xsd:element name="anularExpediente" type="ns0:anularExpediente"/>
    <xsd:element name="anularExpedienteResponse" type="ns0:anularExpedienteResponse"/>
    <xsd:element name="anularServicioExpediente" type="ns0:anularServicioExpediente"/>
    <xsd:element name="anularServicioExpedienteResponse" type="ns0:anularServicioExpedienteResponse"/>
    <xsd:element name="obtenerAreasGestion" type="ns0:obtenerAreasGestion"/>
    <xsd:element name="obtenerAreasGestionResponse" type="ns0:obtenerAreasGestionResponse"/>
    <xsd:element name="obtenerCentrosTramite" type="ns0:obtenerCentrosTramite"/>
    <xsd:element name="obtenerCentrosTramitePorDepartamento" type="ns0:obtenerCentrosTramitePorDepartamento"/>
    <xsd:element name="obtenerCentrosTramitePorDepartamentoResponse" type="ns0:obtenerCentrosTramitePorDepartamentoResponse"/>
    <xsd:element name="obtenerCentrosTramiteResponse" type="ns0:obtenerCentrosTramiteResponse"/>
    <xsd:element name="obtenerClaseExpServicio" type="ns0:obtenerClaseExpServicio"/>
    <xsd:element name="obtenerClaseExpServicioResponse" type="ns0:obtenerClaseExpServicioResponse"/>
    <xsd:element name="obtenerDescripcionServicio" type="ns0:obtenerDescripcionServicio"/>
    <xsd:element name="obtenerDescripcionServicioResponse" type="ns0:obtenerDescripcionServicioResponse"/>
    <xsd:element name="obtenerExpediente" type="ns0:obtenerExpediente"/>
    <xsd:element name="obtenerExpedientePersonaJuridica" type="ns0:obtenerExpedientePersonaJuridica"/>
    <xsd:element name="obtenerExpedientePersonaJuridicaResponse" type="ns0:obtenerExpedientePersonaJuridicaResponse"/>
    <xsd:element name="obtenerExpedientePersonaNatural" type="ns0:obtenerExpedientePersonaNatural"/>
    <xsd:element name="obtenerExpedientePersonaNaturalResponse" type="ns0:obtenerExpedientePersonaNaturalResponse"/>
    <xsd:element name="obtenerExpedienteResponse" type="ns0:obtenerExpedienteResponse"/>
    <xsd:element name="obtenerInformacionServicioTupa" type="ns0:obtenerInformacionServicioTupa"/>
    <xsd:element name="obtenerInformacionServicioTupaResponse" type="ns0:obtenerInformacionServicioTupaResponse"/>
    <xsd:element name="obtenerInspeccionesExpediente" type="ns0:obtenerInspeccionesExpediente"/>
    <xsd:element name="obtenerInspeccionesExpedienteResponse" type="ns0:obtenerInspeccionesExpedienteResponse"/>
    <xsd:element name="obtenerListaAnalisis" type="ns0:obtenerListaAnalisis"/>
    <xsd:element name="obtenerListaAnalisisResponse" type="ns0:obtenerListaAnalisisResponse"/>
    <xsd:element name="obtenerListaRecibos" type="ns0:obtenerListaRecibos"/>
    <xsd:element name="obtenerListaRecibosResponse" type="ns0:obtenerListaRecibosResponse"/>
    <xsd:element name="obtenerListaVacunas" type="ns0:obtenerListaVacunas"/>
    <xsd:element name="obtenerListaVacunasResponse" type="ns0:obtenerListaVacunasResponse"/>
    <xsd:element name="obtenerNumeroCertificado" type="ns0:obtenerNumeroCertificado"/>
    <xsd:element name="obtenerNumeroCertificadoResponse" type="ns0:obtenerNumeroCertificadoResponse"/>
    <xsd:element name="obtenerNumeroExpediente" type="ns0:obtenerNumeroExpediente"/>
    <xsd:element name="obtenerNumeroExpedienteResponse" type="ns0:obtenerNumeroExpedienteResponse"/>
    <xsd:element name="obtenerOperLogisticoJuridica" type="ns0:obtenerOperLogisticoJuridica"/>
    <xsd:element name="obtenerOperLogisticoJuridicaResponse" type="ns0:obtenerOperLogisticoJuridicaResponse"/>
    <xsd:element name="obtenerOperLogisticoNatural" type="ns0:obtenerOperLogisticoNatural"/>
    <xsd:element name="obtenerOperLogisticoNaturalResponse" type="ns0:obtenerOperLogisticoNaturalResponse"/>
    <xsd:element name="obtenerOperador" type="ns0:obtenerOperador"/>
    <xsd:element name="obtenerOperadorResponse" type="ns0:obtenerOperadorResponse"/>
    <xsd:element name="obtenerProductosExp" type="ns0:obtenerProductosExp"/>
    <xsd:element name="obtenerProductosExpResponse" type="ns0:obtenerProductosExpResponse"/>
    <xsd:element name="obtenerProductosInspeccion" type="ns0:obtenerProductosInspeccion"/>
    <xsd:element name="obtenerProductosInspeccionResponse" type="ns0:obtenerProductosInspeccionResponse"/>
    <xsd:element name="obtenerPuntosIngreso" type="ns0:obtenerPuntosIngreso"/>
    <xsd:element name="obtenerPuntosIngresoResponse" type="ns0:obtenerPuntosIngresoResponse"/>
    <xsd:element name="obtenerRequisitoXServicio" type="ns0:obtenerRequisitoXServicio"/>
    <xsd:element name="obtenerRequisitoXServicioResponse" type="ns0:obtenerRequisitoXServicioResponse"/>
    <xsd:element name="obtenerServicio" type="ns0:obtenerServicio"/>
    <xsd:element name="obtenerServicioResponse" type="ns0:obtenerServicioResponse"/>
    <xsd:element name="obtenerServicioXCentroTramite" type="ns0:obtenerServicioXCentroTramite"/>
    <xsd:element name="obtenerServicioXCentroTramiteResponse" type="ns0:obtenerServicioXCentroTramiteResponse"/>
    <xsd:element name="obtenerServiciosExpediente" type="ns0:obtenerServiciosExpediente"/>
    <xsd:element name="obtenerServiciosExpedienteResponse" type="ns0:obtenerServiciosExpedienteResponse"/>
    <xsd:element name="obtenerServiciosTupa" type="ns0:obtenerServiciosTupa"/>
    <xsd:element name="obtenerServiciosTupaResponse" type="ns0:obtenerServiciosTupaResponse"/>
    <xsd:element name="obtenerServiciosXClase" type="ns0:obtenerServiciosXClase"/>
    <xsd:element name="obtenerServiciosXClaseResponse" type="ns0:obtenerServiciosXClaseResponse"/>
    <xsd:element name="obtenerSolicitanteExp" type="ns0:obtenerSolicitanteExp"/>
    <xsd:element name="obtenerSolicitanteExpResponse" type="ns0:obtenerSolicitanteExpResponse"/>
    <xsd:element name="obtenerTipoServicioExpediente" type="ns0:obtenerTipoServicioExpediente"/>
    <xsd:element name="obtenerTipoServicioExpedienteResponse" type="ns0:obtenerTipoServicioExpedienteResponse"/>
    <xsd:element name="servicioTupaCobrarPorProducto" type="ns0:servicioTupaCobrarPorProducto"/>
    <xsd:element name="servicioTupaCobrarPorProductoResponse" type="ns0:servicioTupaCobrarPorProductoResponse"/>
</xsd:schema>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
